<!-- TAB POST NEW ERRAND SUBTAB PROVIDE ERRANT DETAILS -->
<div role="tabpanel" class="tab-pane" id="provideErrantTab">
    <div class="containerForm">
        <form>
            <div>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    <div class="form-group">
                        <label for="">Where should we send help?</label>
                        <input type="text" name="" id="" class="form-control no-border-radius input-md searchZoom">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label for="">&nbsp;</label>
                        <div class="form-group margin-bottom-sm">
                            <input type="text" name="" id="" class="form-control no-border-radius input-md" placeholder="Unit / Apt #">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 textDetails">
                    <div class="form-group">
                        <label for="">Tell us more about what you need help with</label>
                        <div class="form-group margin-bottom-sm">
                            <div class="textarea">
                                <textarea name="" id="" class="form-control no-border-radius" rows="6" placeholder="For example: I have three rooms that needs vaccuming and organizing. Please also make sure to mop my kitchen floor and table tops."></textarea>
                                <div class="imageClip" ngf-select ngf-multiple="false" ng-model="firstFile" ngf-change="uploadFirstFile(firstFile)"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 textDetails">
                    <div class="form-group">
                        <label for="">Is there anything you would like us to purchase on your behalf?</label>
                        <p>*We will use ‘Purchase for me’ Funds for this service.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group">
                        <!-- SWITCH -->
                        <span class="pull-right componentSwitch">
                            <div class="zoomswitch">
                                <input type="checkbox" name="zoomswitch" class="zoomswitch-checkbox" id="myzoomswitch">
                                <label class="zoomswitch-label" for="myzoomswitch">
                                    <span class="zoomswitch-inner"></span>
                                    <span class="zoomswitch-switch"></span>
                                </label>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <span class="spanBalance">Your current balance: $200.00</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right textDetails">
                    <div class="form-group">
                        <p class="no-margin">Top up your funds for future purchases:</p>
                        <p class="no-margin">
                            <small>Amount will automatically be included at check out.</small>
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group margin-bottom-sm componentMinusPlus pull-right">
                        <span class="input-group-addon" ng-click="subtract()">
                            <i class=" no-border-radius fa fa-minus" aria-hidden="true"></i>
                        </span>
                        <input class="form-control no-border-radius input-sm" type="text" placeholder="$0.00" ng-model="dolar" readonly="readonly">
                        <span class="input-group-addon" ng-click="add()">
                            <i class=" no-border-radius fa fa-plus" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <div class="form-group margin-bottom-sm">
                            <div class="textarea">
                                <textarea name="" id="" class="form-control no-border-radius" rows="3" placeholder="For example: Mr. Clean carpet cleaner, Lysol all purpose cleaner."></textarea>
                                <div class="imageClip" ngf-select ngf-multiple="false" ng-model="secondFile" ngf-change="uploadSecondFile(secondFile)"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <button class="btn btnNext pull-left" ui-sref="app.home.postnewerrand.select">BACK</button>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <button class="btn btnBack pull-right" ui-sref="app.home.postnewerrand.confirm.usehours">NEXT</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<!-- TAB POST NEW ERRAND SUBTAB PROVIDE ERRANT DETAILS -->
