<div class="myErrands">
    <h2>My Errands</h2>
    <div class="filters">
        <p>Active</p>
        <p>Completed <span class="circle">18</span></p>
        <p>Cancelled <span class="circle">5</span></p>
        <p>All <span class="circle">23</span></p>
        <p>Awaiting review</p>
        <div class="clearfix"></div>
    </div>
    <h3>Completed Orders</h3>
    <!-- <div class="bgHead"></div> -->
    <div class="table-responsive tableErrandsProgress">
        <table class="table">
            <thead>
                <tr>
                    <th>Errand Date</th>
                    <th>Service Provider</th>
                    <th>Errand Type</th>
                    <th>Description</th>
                    <th>Hours/Funds Used</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="errand in errands">
                    <td>{{errand.date}}</td>
                    <td>
                        <div class="image">
                            <img ng-src="{{errand.image}}" alt="" class="img-responsive">
                        </div>
                    </td>
                    <td>
                        <select class="form-control no-border-radius input-md" ng-show="editErrand.index == $index" ng-model="errand.type"
                            ng-options="errandType for errandType in errandTypes" ng-model="form.serviceLocation">
                        </select>
                        <button class="tooltipErrandService" ng-show="editErrand.index != $index">{{errand.type}}</button>
                    </td>
                    <td>
                        <textarea class="tooltipErrandService" ng-show="editErrand.index == $index" rows="3" cols="40" 
                            ng-model="errand.description">{{errand.description}}</textarea>
                        <button class="tooltipDescription" ng-show="editErrand.index != $index">{{errand.description}}</button>
                    </td>
                    <td>
                        Hours Used:  {{errand.hoursUsed}}
                        <br>
                        Funds Used:  {{errand.fundsUsed}}
                    </td>
                    <td>
                        <button class="btnOrderAgain" ng-click=orderAgain(errand)>Order Again</button>
                        <br>
                        <button class="btnEditOrder" ng-show="editErrand.index == $index" ng-click="saveOrder($index, errand)">Save Order</button>
                        <button class="btnEditOrder" ng-show="editErrand.index != $index" ng-click="editOrder($index, errand)">Edit Order</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <div class="table">
            <div class="headerTabla">
                <ul>
                    <li>Errand Date</li>
                    <li>Service Provider</li>
                    <li>Errand Type</li>
                    <li>Description</li>
                    <li>Hours/Funds Used</li>
                    <li></li>
                </ul>
            </div>
            <div class="contTable">
                <ul>
                    <li>04/04/16</li>
                    <li>
                        <div class="image">
                            <img src="images/photo1.png" alt="" class="img-responsive">
                        </div>
                    </li>
                    <li>
                        <button class="tooltipErrandService">Courier Service</button>
                    </li>
                    <li>
                        <button class="tooltipDescription">Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</button>
                    </li>
                    <li>
                        Hours Used:  3
                        <br>
                        Funds Used:  None
                    </li>
                    <li>
                        <button class="btnOrderAgain">Order Again</button>
                        <br>
                        <button class="btnEditOrder">Edit Order</button>
                    </li>
                </ul>
                <ul>
                    <li>04/04/16</li>
                    <li>
                        <div class="image">
                            <img src="images/photo2.png" alt="" class="img-responsive">
                        </div>
                    </li>
                    <li>
                        <button class="tooltipErrandService">Courier Service</button>
                    </li>
                    <li>
                        <button class="tooltipDescription">Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</button>
                    </li>
                    <li>
                        Hours Used:  3
                        <br>
                        Funds Used:  None
                    </li>
                    <li>
                        <button class="btnOrderAgain">Order Again</button>
                        <br>
                        <button class="btnEditOrder">Edit Order</button>
                    </li>
                </ul>
                <ul>
                    <li>04/04/16</li>
                    <li>
                        <div class="image">
                            <img src="images/photo3.png" alt="" class="img-responsive">
                        </div>
                    </li>
                    <li>
                        <button class="tooltipErrandService">Courier Service</button>
                    </li>
                    <li>
                        <button class="tooltipDescription">Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</button>
                    </li>
                    <li>
                        Hours Used:  3
                        <br>
                        Funds Used:  None
                    </li>
                    <li>
                        <button class="btnOrderAgain">Order Again</button>
                        <br>
                        <button class="btnEditOrder">Edit Order</button>
                    </li>
                </ul>
                <ul>
                    <li>04/04/16</li>
                    <li>
                        <div class="image">
                            <img src="images/photo4.png" alt="" class="img-responsive">
                        </div>
                    </li>
                    <li>
                        <button class="tooltipErrandService">Courier Service</button>
                    </li>
                    <li>
                        <button class="tooltipDescription">Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</button>
                    </li>
                    <li>
                        Hours Used:  3
                        <br>
                        Funds Used:  None
                    </li>
                    <li>
                        <button class="btnOrderAgain">Order Again</button>
                        <br>
                        <button class="btnEditOrder">Edit Order</button>
                    </li>
                </ul>
                <ul>
                    <li>04/04/16</li>
                    <li>
                        <div class="image">
                            <img src="images/photo5.png" alt="" class="img-responsive">
                        </div>
                    </li>
                    <li>
                        <button class="tooltipErrandService">Courier Service</button>
                    </li>
                    <li>
                        <button class="tooltipDescription">Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</button>
                    </li>
                    <li>
                        Hours Used:  3
                        <br>
                        Funds Used:  None
                    </li>
                    <li>
                        <button class="btnOrderAgain">Order Again</button>
                        <br>
                        <button class="btnEditOrder">Edit Order</button>
                    </li>
                </ul>
                <ul>
                    <li>04/04/16</li>
                    <li>
                        <div class="image">
                            <img src="images/photo6.png" alt="" class="img-responsive">
                        </div>
                    </li>
                    <li>
                        <button class="tooltipErrandService">Courier Service</button>
                    </li>
                    <li>
                        <button class="tooltipDescription">Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</button>
                    </li>
                    <li>
                        Hours Used:  3
                        <br>
                        Funds Used:  None
                    </li>
                    <li>
                        <button class="btnOrderAgain">Order Again</button>
                        <br>
                        <button class="btnEditOrder">Edit Order</button>
                    </li>
                </ul>
            </div>
        </div> -->
    </div>
    <div class="clearfix"></div>
</div>