<section>
    <div class="row">
        <aside id="latIzq" class="col-xs-12 col-sm-12 col-md-12 col-lg-3 text-left">
            <div class="textContainer">
                <div class="sub-textContainer">
                    <p class="descriptionTextSteps">It just takes 3 easy steps to post an errand . . . </p>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 step">
                            <span class="text-center">1</span>
                            <p>Select an errand and provide us with errand details</p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 step">
                            <span class="text-center">2</span>
                            <p>Enter the location, date and time in which you need our help.</p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 step">
                            <span class="text-center">3</span>
                            <p>Submit the errand form and our services providers will take it from there!</p>
                        </div>
                    </div>
                    <p class="text-center no-margin orText">OR</p>
                    <p class="text-center no-margin callText">Call us today at</p>
                    <p class="text-center no-margin number">(310) 425 6425</p>
                </div>
                <p class="toMakeText">To make an errand booking or if you have any questions.</p>
            </div>
        </aside>          
        <aside id="latDer" class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <div class="tabParent">
                <div role="tabpanel">
                    <ul class="nav nav-tabs tab-parent-header" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab-post-new-errand" aria-controls="tab-post-new-errand" role="tab" data-toggle="tab">POST NEW ERRAND</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab-errants-in-progress" aria-controls="tab-errants-in-progress" role="tab" data-toggle="tab">ERRANDS IN PROGRESS</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab-my-hours" aria-controls="tab-my-hours" role="tab" data-toggle="tab">MY HOURS</a>
                        </li>
                    </ul>
                    <div class="tab-content tab-parent-content">
                        <div role="tabpanel" class="tab-pane active" id="tab-post-new-errand">
                            <div role="tabpanel">
                                <div class="titleTabErrand">POST ERRAND</div>
                                <ul class="nav nav-tabs tab-header-post-errand" role="tablist">
                                    <li role="presentation" class="no-border-radius text-center active">
                                        <a href="#selectErrandTab" aria-controls="selectErrandTab" role="tab" data-toggle="tab" class="no-margin">1. Select Errant</a>
                                    </li>
                                    <li role="presentation" class="no-border-radius text-center">
                                        <a href="#provideErrantTab" aria-controls="provideErrantTab" role="tab" data-toggle="tab" class="no-margin">2. Provide Errant Details</a>
                                    </li>
                                    <li role="presentation" class="no-border-radius text-center">
                                        <a href="#confirmErrandTab" aria-controls="confirmErrandTab" role="tab" data-toggle="tab" class="no-margin">3. Confirm & Post</a>
                                    </li>
                                </ul>
                                <div class="tab-content tab-content-post-errand">
                                    <div role="tabpanel" class="tab-pane active" id="selectErrandTab">
                                        <div class="containerForm">
                                            <form>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                                        <div class="form-group">
                                                            <label for="">What errand do you need help with?</label>
                                                            <div class="input-group margin-bottom-sm">
                                                                <span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
                                                                <input type="text" name="" id="" class="form-control no-border-radius input-md searchZoom" ng-model="form.whatDoYouNeed">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                                        <div class="form-group">
                                                            <label for="">Your Service Location</label>
                                                            <select class="form-control no-border-radius input-md" ng-options="location for location in locations" ng-model="form.serviceLocation">
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <br><label for="">When do you need this service?</label><br><br>
                                                            <div class="containerTimepicker">
                                                                <div class="dropdown">
                                                                    <span class="textTimepicker">I need this on </span>
                                                                    <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
                                                                        <div class="input-group date">
                                                                            <input type="text" class="form-control" data-ng-model="form.date">
                                                                        </div>
                                                                    </a>
                                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                        <datetimepicker data-ng-model="form.date" data-datetimepicker-config="{ dropdownSelector: '#dropdown1', startView: 'day', minView: 'day', modelType: 'DD/MM/YYYY' }" data-on-set-time="setDate(newDate, oldDate)" />
                                                                    </ul>
                                                                </div>
                                                                <div class="dropdown">
                                                                    <span class="textTimepicker"> , </span> 
                                                                    <input type="text" readonly="readonly" id="dayZoom" class="form-control input-sm no-border-radius" ng-model="form.day" placeholder="day"> 
                                                                    <span class="textTimepicker"> at </span>
                                                                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                                                                        <div class="input-group date">
                                                                            <input type="text" class="form-control" data-ng-model="form.time">
                                                                        </div>
                                                                    </a>
                                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                        <datetimepicker data-ng-model="form.time" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView: 'hour', minView: 'minute', modelType: 'LT Z' }" data-on-set-time="setTime(newDate, oldDate)" />
                                                                    </ul>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label for="">How frequently do you need our service? So we can set a reminder.</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                                        <div class="form-group containerRecurring text-center">
                                                            recurring
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                                        <div class="form-group">
                                                            <button class="btn btn-md btnBottomForm" ng-class="{ active: (form.frequencyNumber == 1) }" ng-click="setFrequency(1)">This one time</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                                        <div class="form-group">
                                                            <button class="btn btn-md btnBottomForm" ng-class="{ active: (form.frequencyNumber == 4) }" ng-click="setFrequency(4)">Weekly</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                                        <div class="form-group">
                                                            <button class="btn btn-md btnBottomForm" ng-class="{ active: (form.frequencyNumber == 12) }" ng-click="setFrequency(12)">Monthly</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                                        <div class="form-group">
                                                            <button class="btn btn-md btnBottomForm" ng-class="{ active: (form.frequencyNumber == 1000) }" ng-click="setFrequency(1000)">Other</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-offset-9 col-md-3 col-lg-offset-9 col-lg-3">
                                                        <button class="btn btnNext pull-right" ng-click="next()">NEXT</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="provideErrantTab">
                                        <div class="containerForm">
                                            <form>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                                        <div class="form-group">
                                                            <label for="">Where should we send help?</label>
                                                            <div class="input-group margin-bottom-sm">
                                                                <span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
                                                                <input type="text" name="" id="" class="form-control no-border-radius input-md searchZoom">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                        <div class="form-group">
                                                            <label for="">&nbsp;</label>
                                                            <div class="form-group margin-bottom-sm">
                                                                <input type="text" name="" id="" class="form-control no-border-radius input-md" placeholder="Unit / Apt #">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label for="">Tell us more about what you need help with</label>
                                                            <div class="form-group margin-bottom-sm">
                                                                <div class="textarea">
                                                                    <textarea name="" id="" class="form-control no-border-radius" rows="6" placeholder="For example: I have three rooms that needs vaccuming and organizing. Please also make sure to mop my kitchen floor and table tops."></textarea>
                                                                    <div class="imageClip"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                        <div class="form-group">
                                                            <label for="">Is there anything you would like us to purchase on your behalf?</label>
                                                            <p>*We will use ‘Purchase for me’ Funds for this service.</p>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                        <div class="form-group">
                                                            <label class="switch">
                                                                <input class="switch-input" type="checkbox" />
                                                                <span class="switch-label" data-on="No" data-off="Yes"></span> 
                                                                <span class="switch-handle"></span> 
                                                            </label>
                                                        </div>
                                                    </div> -->
                                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                        <div class="form-group">
                                                            <span class="spanBalance">Your current balance: $200.00</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                        <div class="form-group">
                                                            <label for="">Top up your funds for future purchases:</label>
                                                            <p>Amount will automatically be included at check out.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <div class="form-group margin-bottom-sm">
                                                                <div class="textarea">
                                                                    <textarea name="" id="" class="form-control no-border-radius" rows="3" placeholder="For example: Mr. Clean carpet cleaner, Lysol all purpose cleaner."></textarea>
                                                                    <div class="imageClip"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                        <button class="btn btnNext pull-left" ng-click="next()">BACK</button>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                        <button class="btn btnBack pull-right" ng-click="next()">NEXT</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <br><br><br><br><br>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="confirmErrandTab">
                                        <div class="containerForm payment-form">
                                            <form>
                                                <h3>Please choose your payment method:</h3>
                                                <div role="tabpanel" class="tabPayment">
                                                    <ul class="nav nav-tabs header-payment-container" role="tablist">
                                                        <li role="presentation" class="active">
                                                            <a href="#tab-use-hours" aria-controls="tab-use-hours" role="tab" data-toggle="tab">Use Hours in Account</a>
                                                        </li>
                                                        <li role="presentation">
                                                            <a href="#tab-pay" aria-controls="tab-pay" role="tab" data-toggle="tab">Pay with Credit Card</a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content content-payment-container">
                                                        <div role="tabpanel" class="tab-pane active" id="tab-use-hours">
                                                            <p>Hours Available: <span id="hours">10.5</span></p>
                                                            <p>Purchase For Me’ Available: <span id="price">$178.00</span></p>
                                                            <hr>
                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                <div class="form-group pull-right">
                                                                    <p>Pay with Purchased Hours</p>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane" id="tab-pay">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                                                    <div class="form-group">
                                                                        <label for="">Credit Card</label>
                                                                        <div class="input-group margin-bottom-sm">
                                                                            <input type="text" class="form-control no-border-radius" placeholder="">
                                                                            <span class="input-group-addon no-border-radius">
                                                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                                                    <div class="form-group">
                                                                        <img src="images/payments.png" alt="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                                    <div class="form-group">
                                                                        <label for="">Expiry Date</label>
                                                                        <input type="text" class="form-control no-border-radius" placeholder="MM/YY">
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                                    <div class="form-group">
                                                                        <label for="">CVV</label>
                                                                        <input type="text" class="form-control no-border-radius" placeholder="_ _ _">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="order">
                                                    <h3>Your Order Summary</h3>
                                                    <div class="text">
                                                        <p>Date & Time:</p>
                                                        <p>dd/mm/yy  (week) at 00:00 AM PST</p>
                                                        <p>Frequency:</p>
                                                        <p>This one time</p>
                                                        <p>Errand Location:</p>
                                                        <p>1577 McAllister Street, San Francisco, California, 94115. <span>Apt 408.</span></p>
                                                        <p>Errand Detail:</p>
                                                        <p>I have three rooms that needs vaccuming and organizing. Please also make sure to mop my kitchen floor and table tops. </p>
                                                        <p>Purchase For Me:</p>
                                                        <p>For example: Mr. Clean carpet cleaner, Lysol all purpose cleaner.</p>
                                                        <hr>
                                                        <p>*Satisfaction guaranteed with every order.</p>
                                                        <div class="return">
                                                            <i class="fa fa-caret-left" aria-hidden="true"></i> <a href="#">Return to last step</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="buttonFinish">
                                                    <button class="btn btnConfirm">CONFIRM & POST</button>
                                                    <p>
                                                        By selecting this you agree to Zoom Errands <a href="#">Terms & Conditions.</a>
                                                    </p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </form>
                                        </div>
                                        <br><br><br><br><br>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab-errants-in-progress">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Errand Date</th>
                                            <th>Service Provider</th>
                                            <th>Errand Type</th>
                                            <th>Description</th>
                                            <th>Hours/Funds Used</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>04/04/16</td>
                                            <td>
                                                <div class="image">
                                                    <img src="images/photo1.png" alt="" class="img-responsive">
                                                </div>
                                            </td>
                                            <td>Courier Service</td>
                                            <td>
                                                <p>Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</p>
                                            </td>
                                            <td>
                                                Hours Used:  In Progress
                                                <br>
                                                Funds Used:  None
                                            </td>
                                            <td>
                                                <button class="btnOrderAgain">Order Again</button>
                                                <br>
                                                <button class="btnEditOrder">Edit Order</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>04/04/16</td>
                                            <td>
                                                <div class="image">
                                                    <img src="images/photo2.png" alt="" class="img-responsive">
                                                </div>
                                            </td>
                                            <td>Courier Service</td>
                                            <td>
                                                <p>Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</p>
                                            </td>
                                            <td>
                                                Hours Used:  In Progress
                                                <br>
                                                Funds Used:  None
                                            </td>
                                            <td>
                                                <button class="btnOrderAgain">Order Again</button>
                                                <br>
                                                <button class="btnEditOrder">Edit Order</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>04/04/16</td>
                                            <td>
                                                <div class="image">
                                                    <img src="images/photo3.png" alt="" class="img-responsive">
                                                </div>
                                            </td>
                                            <td>Courier Service</td>
                                            <td>
                                                <p>Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</p>
                                            </td>
                                            <td>
                                                Hours Used:  In Progress
                                                <br>
                                                Funds Used:  None
                                            </td>
                                            <td>
                                                <button class="btnOrderAgain">Order Again</button>
                                                <br>
                                                <button class="btnEditOrder">Edit Order</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>04/04/16</td>
                                            <td>
                                                <div class="image">
                                                    <img src="images/photo4.png" alt="" class="img-responsive">
                                                </div>
                                            </td>
                                            <td>Courier Service</td>
                                            <td>
                                                <p>Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</p>
                                            </td>
                                            <td>
                                                Hours Used:  In Progress
                                                <br>
                                                Funds Used:  None
                                            </td>
                                            <td>
                                                <button class="btnOrderAgain">Order Again</button>
                                                <br>
                                                <button class="btnEditOrder">Edit Order</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>04/04/16</td>
                                            <td>
                                                <div class="image">
                                                    <img src="images/photo5.png" alt="" class="img-responsive">
                                                </div>
                                            </td>
                                            <td>Courier Service</td>
                                            <td>
                                                <p>Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</p>
                                            </td>
                                            <td>
                                                Hours Used:  In Progress
                                                <br>
                                                Funds Used:  None
                                            </td>
                                            <td>
                                                <button class="btnOrderAgain">Order Again</button>
                                                <br>
                                                <button class="btnEditOrder">Edit Order</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>04/04/16</td>
                                            <td>
                                                <div class="image">
                                                    <img src="images/photo6.png" alt="" class="img-responsive">
                                                </div>
                                            </td>
                                            <td>Courier Service</td>
                                            <td>
                                                <p>Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</p>
                                            </td>
                                            <td>
                                                Hours Used:  In Progress
                                                <br>
                                                Funds Used:  None
                                            </td>
                                            <td>
                                                <button class="btnOrderAgain">Order Again</button>
                                                <br>
                                                <button class="btnEditOrder">Edit Order</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br><br><br><br><br>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab-my-hours">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, aspernatur.
                        </div>
                    </div>
                </div>
            </div>           
        </aside>
    </div>            
</section>
<div class="errandsProgressDetail">
    <h3>ERRANDS IN PROGRESS</h3>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <span class="number">1</span>
                        <span class="text">Errand Date: 04/08/16</span>
                        <span class="text">Delivery</span>
                        <span class="text">Time Posted: 11:00 AM</span>
                        <span class="text">Status: In Progress</span>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="provider no-border-radius">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="image">
                                            <img src="images/face-errands.png" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                        <p>Your service provider is Judith.</p>
                                        <hr>
                                        <p>Good news, she is scheduled to arrive on time.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="details no-border-radius">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <p>DELIVERY SERVICE</p>
                                        <p>ETA: 11:00AM</p>
                                        <p>Item: Documents</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <button class="pull-right btnEditErrand">Edit Errand</button>
                                    </div>
                                </div>
                                <br><br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <p>Pick up Location: </p>
                                        <p>1667 Divisdero Street, Room 1285.</p>
                                        <p>San Francisco CA, 94115.</p>
                                        <p>Drop off Location: </p>
                                        <p>535 Mission Street, 19th Floor, Suite 16.</p>
                                        <p>San Francisco CA, 94100</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <img src="images/image-maps.png" alt="" class="img-responsive pull-right">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <a class="contactZoom" href="#">Please contact Zoom Errands at (310) 425 6425 directly if you have any questions or concerns.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <span class="number">2</span>
                        <span class="text">Errand Date: 04/08/16</span>
                        <span class="text">Delivery</span>
                        <span class="text">Time Posted: 11:00 AM</span>
                        <span class="text">Status: In Progress</span>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="provider no-border-radius">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="image">
                                            <img src="images/face-errands.png" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                        <p>Your service provider is Judith.</p>
                                        <hr>
                                        <p>Good news, she is scheduled to arrive on time.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="details no-border-radius">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <p>DELIVERY SERVICE</p>
                                        <p>ETA: 11:00AM</p>
                                        <p>Item: Documents</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <button class="pull-right btnEditErrand">Edit Errand</button>
                                    </div>
                                </div>
                                <br><br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <p>Pick up Location: </p>
                                        <p>1667 Divisdero Street, Room 1285.</p>
                                        <p>San Francisco CA, 94115.</p>
                                        <p>Drop off Location: </p>
                                        <p>535 Mission Street, 19th Floor, Suite 16.</p>
                                        <p>San Francisco CA, 94100</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <img src="images/image-maps.png" alt="" class="img-responsive pull-right">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <a class="contactZoom" href="#">Please contact Zoom Errands at (310) 425 6425 directly if you have any questions or concerns.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <span class="number">3</span>
                        <span class="text">Errand Date: 04/08/16</span>
                        <span class="text">Delivery</span>
                        <span class="text">Time Posted: 11:00 AM</span>
                        <span class="text">Status: In Progress</span>
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="provider no-border-radius">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="image">
                                            <img src="images/face-errands.png" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                        <p>Your service provider is Judith.</p>
                                        <hr>
                                        <p>Good news, she is scheduled to arrive on time.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="details no-border-radius">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <p>DELIVERY SERVICE</p>
                                        <p>ETA: 11:00AM</p>
                                        <p>Item: Documents</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <button class="pull-right btnEditErrand">Edit Errand</button>
                                    </div>
                                </div>
                                <br><br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <p>Pick up Location: </p>
                                        <p>1667 Divisdero Street, Room 1285.</p>
                                        <p>San Francisco CA, 94115.</p>
                                        <p>Drop off Location: </p>
                                        <p>535 Mission Street, 19th Floor, Suite 16.</p>
                                        <p>San Francisco CA, 94100</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <img src="images/image-maps.png" alt="" class="img-responsive pull-right">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <a class="contactZoom" href="#">Please contact Zoom Errands at (310) 425 6425 directly if you have any questions or concerns.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        <span class="number">4</span>
                        <span class="text">Errand Date: 04/08/16</span>
                        <span class="text">Delivery</span>
                        <span class="text">Time Posted: 11:00 AM</span>
                        <span class="text">Status: In Progress</span>
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="provider no-border-radius">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="image">
                                            <img src="images/face-errands.png" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                        <p>Your service provider is Judith.</p>
                                        <hr>
                                        <p>Good news, she is scheduled to arrive on time.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="details no-border-radius">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <p>DELIVERY SERVICE</p>
                                        <p>ETA: 11:00AM</p>
                                        <p>Item: Documents</p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <button class="pull-right btnEditErrand">Edit Errand</button>
                                    </div>
                                </div>
                                <br><br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <p>Pick up Location: </p>
                                        <p>1667 Divisdero Street, Room 1285.</p>
                                        <p>San Francisco CA, 94115.</p>
                                        <p>Drop off Location: </p>
                                        <p>535 Mission Street, 19th Floor, Suite 16.</p>
                                        <p>San Francisco CA, 94100</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <img src="images/image-maps.png" alt="" class="img-responsive pull-right">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <a class="contactZoom" href="#">Please contact Zoom Errands at (310) 425 6425 directly if you have any questions or concerns.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<article>
    <h3 class="text-center">ERRANDS POPULAR IN YOUR AREA</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
            <div class="containerImage">
                <img src="images/img1.jpg" alt="" title="" class="img-responsive">
                <h4>Household & Waiting</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
            <div class="containerImage">
                <img src="images/img2.jpg" alt="" title="" class="img-responsive">
                <h4>Errand Services</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
            <div class="containerImage">
                <img src="images/img3.jpg" alt="" title="" class="img-responsive">
                <h4>Moving & Relocating</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
            <div class="containerImage">
                <img src="images/img4.jpg" alt="" title="" class="img-responsive">
                <h4>Concierge Services</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
            <div class="containerImage">
                <img src="images/img5.jpg" alt="" title="" class="img-responsive">
                <h4>Senior Services</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
            <div class="containerImage">
                <img src="images/img6.jpg" alt="" title="" class="img-responsive">
                <h4>Business Services</h4>
            </div>
        </div>
    </div>				
</article>