<!--TAB PARENT ERRANDS IN PROGRESS -->
<div role="tabpanel" class="tab-pane" id="tab-errants-in-progress">
    <!--
    <div class="table-responsive tableErrandsProgress">
        <table class="table">
            <thead>
                <tr>
                    <th>Errand Date</th>
                    <th>Service Provider</th>
                    <th>Errand Type</th>
                    <th>Description</th>
                    <th>Hours/Funds Used</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>04/04/16</td>
                    <td>
                        <div class="image">
                            <img src="images/photo1.png" alt="" class="img-responsive">
                        </div>
                    </td>
                    <td>
                        <button class="tooltipErrandService">Courier Service</button>
                    </td>
                    <td>
                        <button class="tooltipDescription">Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</button>
                    </td>
                    <td>
                        Hours Used:  In Progress
                        <br>
                        Funds Used:  None
                    </td>
                    <td>
                        <button class="btnOrderAgain">Order Again</button>
                        <br>
                        <button class="btnEditOrder">Edit Order</button>
                    </td>
                </tr>
                <tr>
                    <td>04/04/16</td>
                    <td>
                        <div class="image">
                            <img src="images/photo2.png" alt="" class="img-responsive">
                        </div>
                    </td>
                    <td>
                        <button class="tooltipErrandService">Courier Service</button>
                    </td>
                    <td>
                        <button class="tooltipDescription">Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</button>
                    </td>
                    <td>
                        Hours Used:  In Progress
                        <br>
                        Funds Used:  None
                    </td>
                    <td>
                        <button class="btnOrderAgain">Order Again</button>
                        <br>
                        <button class="btnEditOrder">Edit Order</button>
                    </td>
                </tr>
                <tr>
                    <td>04/04/16</td>
                    <td>
                        <div class="image">
                            <img src="images/photo3.png" alt="" class="img-responsive">
                        </div>
                    </td>
                    <td>
                        <button class="tooltipErrandService">Courier Service</button>
                    </td>
                    <td>
                        <button class="tooltipDescription">Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</button>
                    </td>
                    <td>
                        Hours Used:  In Progress
                        <br>
                        Funds Used:  None
                    </td>
                    <td>
                        <button class="btnOrderAgain">Order Again</button>
                        <br>
                        <button class="btnEditOrder">Edit Order</button>
                    </td>
                </tr>
                <tr>
                    <td>04/04/16</td>
                    <td>
                        <div class="image">
                            <img src="images/photo4.png" alt="" class="img-responsive">
                        </div>
                    </td>
                    <td>
                        <button class="tooltipErrandService">Courier Service</button>
                    </td>
                    <td>
                        <button class="tooltipDescription">Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</button>
                    </td>
                    <td>
                        Hours Used:  In Progress
                        <br>
                        Funds Used:  None
                    </td>
                    <td>
                        <button class="btnOrderAgain">Order Again</button>
                        <br>
                        <button class="btnEditOrder">Edit Order</button>
                    </td>
                </tr>
                <tr>
                    <td>04/04/16</td>
                    <td>
                        <div class="image">
                            <img src="images/photo5.png" alt="" class="img-responsive">
                        </div>
                    </td>
                    <td>
                        <button class="tooltipErrandService">Courier Service</button>
                    </td>
                    <td>
                        <button class="tooltipDescription">Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</button>
                    </td>
                    <td>
                        Hours Used:  In Progress
                        <br>
                        Funds Used:  None
                    </td>
                    <td>
                        <button class="btnOrderAgain">Order Again</button>
                        <br>
                        <button class="btnEditOrder">Edit Order</button>
                    </td>
                </tr>
                <tr>
                    <td>04/04/16</td>
                    <td>
                        <div class="image">
                            <img src="images/photo6.png" alt="" class="img-responsive">
                        </div>
                    </td>
                    <td>
                        <button class="tooltipErrandService">Courier Service</button>
                    </td>
                    <td>
                        <button class="tooltipDescription">Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</button>
                    </td>
                    <td>
                        Hours Used:  In Progress
                        <br>
                        Funds Used:  None
                    </td>
                    <td>
                        <button class="btnOrderAgain">Order Again</button>
                        <br>
                        <button class="btnEditOrder">Edit Order</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    -->
    <div class="errandsProgressDetail">
        <h3>ERRANDS IN PROGRESS</h3>
        <script type="text/ng-template" id="group-template.html">
            <div class="panel {{panelClass || 'panel-default'}}">
                        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                <div class="panel-heading">
                    <h4 class="panel-title">
                            <span uib-accordion-header></span>
                    </h4>
                </div>
                        </a>
                <div class="panel-collapse collapse" uib-collapse="!isOpen">
                    <div class="panel-body" ng-transclude></div>
                </div>
            </div>
        </script>
        <uib-accordion close-others="vm.oneAtATime">
            <uib-accordion-group template-url="group-template.html" ng-repeat="errand in vm.errands" is-open="errand.is_open" ng-click="vm.toggleOpen($index, errand)" repeat-end="vm.repeatEndErrands()">
                <uib-accordion-heading>
                    <!-- {{group.title}} -->
                    <span class="number">{{$index + 1}}</span>
                    <span class="text">Errand Date: {{errand.datetime|date:'MM/dd/yyyy'}}</span>
                    <span class="text">{{errand.type.name}}</span>
                    <span class="text">Time Posted: {{errand.datetime|date:'shortTime'}}</span>
                    <span class="text">Status: In Progress</span>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': errand.is_open, 'glyphicon-chevron-right': !errand.is_open}"></i>
                    <div class="clearfix"></div>
                </uib-accordion-heading>
                <div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="provider no-border-radius">
                            <div class="row" ng-show="errand.provider">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="image">
                                        <img ng-src="{{errand.provider.photoUrl}}" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                    <p>Your service provider is {{errand.provider.fname}}</p>
                                    <hr>
                                    <p>Good news, she is scheduled to arrive on time.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="row" ng-hide="errand.provider">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <p class="text-center">Your service provider is not specified</p>
                                </div>
                            </div>
                        </div>
                        <div class="details no-border-radius">
                            <div>
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                    <p>{{errand.type.comment}}</p>
                                    <p>ETA: {{errand.datetime|date:'shortTime'}}</p>
                                    <p ng-show="errand.type.name == 'Delivery'">Item: {{errand.item}}</p>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                    <button class="pull-right btnEditErrand">Edit Errand</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <p ng-show="errand.type.name == 'Delivery'">Pick up Location: </p>
                                    <p ng-show="errand.type.name == 'Delivery'">{{errand.pick_up_address}} {{errand.pick_up_unit}}</p>
                                    <p>Drop off Location: </p>
                                    <p>{{errand.address}} {{errand.unit}}</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group map-container">
                            
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a class="contactZoom" href="">Please contact Zoom Errands at (310) 425 6425 directly if you have any questions or concerns.</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- {{group.content}} -->
            </uib-accordion-group>
        </uib-accordion>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div id="map" style="width: 100%; height: 300px; max-width: 335px;"></div>
    </div>
</div>
<!-- TAB PARENT ERRANDS IN PROGRESS