<!--TAB PARENT ERRANDS IN PROGRESS -->
<div role="tabpanel" class="tab-pane" id="tab-errants-in-progress">
    <!--
    <div class="table-responsive tableErrandsProgress">
        <table class="table">
            <thead>
                <tr>
                    <th>Errand Date</th>
                    <th>Service Provider</th>
                    <th>Errand Type</th>
                    <th>Description</th>
                    <th>Hours/Funds Used</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>04/04/16</td>
                    <td>
                        <div class="image">
                            <img src="images/photo1.png" alt="" class="img-responsive">
                        </div>
                    </td>
                    <td>
                        <button class="tooltipErrandService">Courier Service</button>
                    </td>
                    <td>
                        <button class="tooltipDescription">Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</button>
                    </td>
                    <td>
                        Hours Used:  In Progress
                        <br>
                        Funds Used:  None
                    </td>
                    <td>
                        <button class="btnOrderAgain">Order Again</button>
                        <br>
                        <button class="btnEditOrder">Edit Order</button>
                    </td>
                </tr>
                <tr>
                    <td>04/04/16</td>
                    <td>
                        <div class="image">
                            <img src="images/photo2.png" alt="" class="img-responsive">
                        </div>
                    </td>
                    <td>
                        <button class="tooltipErrandService">Courier Service</button>
                    </td>
                    <td>
                        <button class="tooltipDescription">Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</button>
                    </td>
                    <td>
                        Hours Used:  In Progress
                        <br>
                        Funds Used:  None
                    </td>
                    <td>
                        <button class="btnOrderAgain">Order Again</button>
                        <br>
                        <button class="btnEditOrder">Edit Order</button>
                    </td>
                </tr>
                <tr>
                    <td>04/04/16</td>
                    <td>
                        <div class="image">
                            <img src="images/photo3.png" alt="" class="img-responsive">
                        </div>
                    </td>
                    <td>
                        <button class="tooltipErrandService">Courier Service</button>
                    </td>
                    <td>
                        <button class="tooltipDescription">Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</button>
                    </td>
                    <td>
                        Hours Used:  In Progress
                        <br>
                        Funds Used:  None
                    </td>
                    <td>
                        <button class="btnOrderAgain">Order Again</button>
                        <br>
                        <button class="btnEditOrder">Edit Order</button>
                    </td>
                </tr>
                <tr>
                    <td>04/04/16</td>
                    <td>
                        <div class="image">
                            <img src="images/photo4.png" alt="" class="img-responsive">
                        </div>
                    </td>
                    <td>
                        <button class="tooltipErrandService">Courier Service</button>
                    </td>
                    <td>
                        <button class="tooltipDescription">Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</button>
                    </td>
                    <td>
                        Hours Used:  In Progress
                        <br>
                        Funds Used:  None
                    </td>
                    <td>
                        <button class="btnOrderAgain">Order Again</button>
                        <br>
                        <button class="btnEditOrder">Edit Order</button>
                    </td>
                </tr>
                <tr>
                    <td>04/04/16</td>
                    <td>
                        <div class="image">
                            <img src="images/photo5.png" alt="" class="img-responsive">
                        </div>
                    </td>
                    <td>
                        <button class="tooltipErrandService">Courier Service</button>
                    </td>
                    <td>
                        <button class="tooltipDescription">Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</button>
                    </td>
                    <td>
                        Hours Used:  In Progress
                        <br>
                        Funds Used:  None
                    </td>
                    <td>
                        <button class="btnOrderAgain">Order Again</button>
                        <br>
                        <button class="btnEditOrder">Edit Order</button>
                    </td>
                </tr>
                <tr>
                    <td>04/04/16</td>
                    <td>
                        <div class="image">
                            <img src="images/photo6.png" alt="" class="img-responsive">
                        </div>
                    </td>
                    <td>
                        <button class="tooltipErrandService">Courier Service</button>
                    </td>
                    <td>
                        <button class="tooltipDescription">Take doc to lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, natus.</button>
                    </td>
                    <td>
                        Hours Used:  In Progress
                        <br>
                        Funds Used:  None
                    </td>
                    <td>
                        <button class="btnOrderAgain">Order Again</button>
                        <br>
                        <button class="btnEditOrder">Edit Order</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    -->
    <div class="errandsProgressDetail">
        <h3>ERRANDS IN PROGRESS</h3>
        <script type="text/ng-template" id="group-template.html">
            <div class="panel {{panelClass || 'panel-default'}}">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span uib-accordion-header></span>
                        </h4>
                    </div>
                </a>
                <div class="panel-collapse collapse" uib-collapse="!isOpen">
                    <div class="panel-body" ng-transclude></div>
                </div>
            </div>
        </script>
        <uib-accordion close-others="vm.oneAtATime">
            <uib-accordion-group template-url="group-template.html" ng-repeat="errand in vm.errands" is-open="errand.is_open" repeat-end="vm.repeatEndErrands()">
                <uib-accordion-heading>
                    <div>
                        <!-- {{group.title}} -->
                        <span class="number">{{$index + 1}}</span>
                        <span class="text">Errand Date: {{errand.datetime|date:'MM/dd/yyyy'}}</span>
                        <span class="text min-expile">{{errand.type.name}}</span>
                        <span class="text min-expile">Time Posted: {{errand.datetime|date:'shortTime'}}</span>
                        <span class="text">Status: In Progress</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': errand.is_open, 'glyphicon-chevron-right': !errand.is_open}"></i>
                        <div class="clearfix"></div>
                    </div>
                </uib-accordion-heading>
                <div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="provider no-border-radius">
                            <div class="row" ng-show="errand.provider">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="image">
                                        <img ng-src="{{errand.provider.photoUrl}}" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                    <p>Your service provider is {{errand.provider.fname}}</p>
                                    <hr>
                                    <p>Good news, she is scheduled to arrive on time.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="row" ng-hide="errand.provider">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <p class="text-center">Your service provider is not specified</p>
                                </div>
                            </div>
                        </div>
                        <div class="details no-border-radius" ng-show="!errand.editing">
                            <div>
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                    <p>{{errand.type.comment}}</p>
                                    <p>{{errand.datetime|date:'MM/dd/yyyy'}}</p>
                                    <p>ETA: {{errand.datetime|date:'shortTime'}}</p>
                                    <p ng-show="errand.type.name == 'Delivery'">Item: {{errand.item}}</p>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                    <button class="pull-right btnEditErrand" ng-click="vm.editErrand(errand)">Edit Errand</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <p ng-show="errand.type.name == 'Delivery'">Pick up Location: </p>
                                    <p ng-show="errand.type.name == 'Delivery'">{{errand.pick_up_address}} {{errand.pick_up_unit}}</p>
                                    <p ng-show="errand.type.name == 'Delivery'">Drop off Location: </p>
                                    <p ng-hide="errand.type.name == 'Delivery'">Errand Location: </p>
                                    <p>{{errand.address}} {{errand.unit}}</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="details no-border-radius" ng-show="errand.editing" >
                            <div>
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                    <div class="form-group">
                                        <p>What errand do you need help with?</p>
                                        <div angucomplete-alt 
                                          placeholder="{{vm.editing_errand.type.comment}}" 
                                          pause="100"
                                          selected-object="vm.selectedObject"
                                          local-data="vm.all_types"
                                          search-fields="comment"
                                          title-field="comment"
                                          minlength="1"
                                          input-class="form-control no-border-radius input-md searchZoom"
                                          match-class="highlight">
                                        </div> 
                                    </div>   

                                    <div class="dropdown date">
                                        I need this on
                                        <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="#">
                                          <div class="input-group date">
                                            <input type="text" class="form-control" ng-value="vm.editing_errand.datetime|date:'MM/dd/yyyy'">
                                          </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                          <datetimepicker ng-model="vm.date" data-datetimepicker-config="{ dropdownSelector: '#dropdown1', startView: 'day', minView: 'day'}" data-on-set-time="vm.setDate(newDate, oldDate)" ></datetimepicker>
                                        </ul>
                                    </div>

                                    <p>ETA:</p>
                                    <div>
                                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                                          <div class="input-group date">
                                            <input type="text" class="form-control" ng-value="vm.editing_errand.datetime|date:'shortTime'">
                                          </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                          <datetimepicker data-ng-model="vm.time" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView: 'hour', minView: 'minute' }" data-on-set-time="vm.setTime(newDate, oldDate)" ></datetimepicker>
                                        </ul>
                                    </div>
                                    <div ng-show="vm.editing_errand.type.name == 'Delivery'">
                                        <p>Item:</p>
                                        <div class="form-group margin-bottom-sm">
                                            <input type="text" name="" id="" class="form-control no-border-radius input-md" placeholder="" ng-model="vm.editing_errand.item">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <button class="pull-right btnEditErrand" ng-click="vm.saveErrand($index, errand)">Save</button>&nbsp;
                                    </div>
                                    <div class="form-group">
                                        <button class="pull-right btnEditErrand" ng-click="vm.cancelEditingErrand(errand)">Cancel</button>&nbsp;
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <p ng-show="vm.editing_errand.type.name == 'Delivery'">Pick up Location: </p>
                                    <div ng-show="vm.editing_errand.type.name == 'Delivery'">
                                        <div class="form-group">
                                            <input type="text" name="" id="" class="form-control no-border-radius input-md searchZoom" g-places-autocomplete placeholder="{{vm.editing_errand.pick_up_address}}" force-selection="true" options="vm.autocompleteOptions" ng-model="vm.editing_errand.pick_up_addr" ng-class="{'warning-border':vm.invalidPickUpAddress}" autocomplete="off" ng-change="vm.blurPickUpAddress()" required>
                                            <span ng-show="vm.invalidPickUpAddress" class="text-danger">Please complete address with google autocomplete exaclty.</span>
                                        </div>
                                        <div class="form-group margin-bottom-sm">
                                            <input type="text" name="" id="" class="form-control no-border-radius input-md" placeholder="Unit / Apt #" ng-model="vm.editing_errand.pick_up_unit">
                                        </div>
                                    </div>

                                    <p>Drop off Location: </p>
                                    <div>
                                        <div class="form-group">
                                            <input type="text" name="" id="" class="form-control no-border-radius input-md searchZoom" g-places-autocomplete placeholder="{{vm.editing_errand.address}}" force-selection="true" options="vm.autocompleteOptions" ng-model="vm.editing_errand.addr" ng-class="{'warning-border':vm.invalidAddress}" autocomplete="off" ng-change="vm.blurAddress()" required>
                                            <span ng-show="vm.invalidAddress" class="text-danger">Please complete address with google autocomplete exaclty.</span>
                                        </div>
                                        <div class="form-group margin-bottom-sm">
                                            <input type="text" name="" id="" class="form-control no-border-radius input-md" placeholder="Unit / Apt #" ng-model="vm.editing_errand.unit">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group map-container">
                            
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a class="contactZoom" href="">Please contact Zoom Errands at (310) 425 6425 directly if you have any questions or concerns.</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- {{group.content}} -->
            </uib-accordion-group>
        </uib-accordion>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6">
        <div id="map" style="width: 100%; height: 300px; max-width: 335px;"></div>
    </div>
</div>
<!-- TAB PARENT ERRANDS IN PROGRESS