
            <div class="col-md-8 col-sm-8 section-block">
                <h3 class="section-head">Notifications</h3>

                <h3 class="small-class">How would you like us to send you updates?</h3>

                <div class="col-md-12 col-sm-12 left">
                   <div class="col-md-3 col-md-offset-6 col-sm-3 col-sm-offset-6 center">
                    <h3 class="bottom-space-0 for-desktop small-class">Email</h3>
                   </div>
                   <div class="col-md-3 col-sm-3 center">
                    <h3 class="bottom-space-0 for-desktop small-class">SMS</h3>
                   </div>
                </div>
                <div class="col-md-12 col-sm-12 line">
                </div>
                <div class="col-md-12 col-sm-12 left">
                    <div class="col-md-6 col-sm-6 center">
                        <h3 class="bottom-space-0 top-space-0 left small-class">
                            Errand Status updates
                        </h3>
                    </div>
                    <div class="col-md-3 col-sm-3 center">
                        <h3 class="bottom-space-0 for-mobile small-class">Email</h3>
                        <div class="shutter" ng-class="vm.client_setting.status_update_email ? 'yes' : 'no' " ng-click="vm.client_setting.status_update_email = !vm.client_setting.status_update_email">
                            <span class="float-left">Yes</span>
                            <span class="float-right">No</span>
                            <span class="button"><span class="button-in"></span></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 center">
                        <h3 class="bottom-space-0 for-mobile small-class">SMS</h3>
                        <div class="shutter" ng-class="vm.client_setting.status_update_sms ? 'yes' : 'no' " ng-click="vm.client_setting.status_update_sms = !vm.client_setting.status_update_sms">
                            <span class="float-left">Yes</span>
                            <span class="float-right">No</span>
                            <span class="button"><span class="button-in"></span></span>
                        </div>
                    </div>
                </div>
                <!--1 select-->
                <div class="col-md-12 col-sm-12 left">
                    <div class="col-md-6 col-sm-6 center">
                        <h3 class="bottom-space-0 top-space-0 left small-class">
                            Service Provider updates
                        </h3>
                    </div>
                    <div class="col-md-3 col-sm-3 center">
                        <h3 class="bottom-space-0 for-mobile small-class">Email</h3>
                        <div class="shutter" ng-class="vm.client_setting.provider_update_email ? 'yes' : 'no' " ng-click="vm.client_setting.provider_update_email = !vm.client_setting.provider_update_email">
                            <span class="float-left">Yes</span>
                            <span class="float-right">No</span>
                            <span class="button"><span class="button-in"></span></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 center">
                        <h3 class="bottom-space-0 for-mobile small-class">SMS</h3>
                        <div class="shutter" ng-class="vm.client_setting.provider_update_sms ? 'yes' : 'no' " ng-click="vm.client_setting.provider_update_sms = !vm.client_setting.provider_update_sms">
                            <span class="float-left">Yes</span>
                            <span class="float-right">No</span>
                            <span class="button"><span class="button-in"></span></span>
                        </div>
                    </div>
                </div>
                <!--2 select-->
                <div class="col-md-12 col-sm-12 left hidden">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="bottom-space-0 top-space-0 left small-class">
                            When Errand is complete
                        </h3>
                    </div>
                    <div class="col-md-3 col-sm-3 center">
                        <h3 class="bottom-space-0 for-mobile small-class">Email</h3>
                        <div class="shutter" ng-class="vm.client_setting.errand_complete_email ? 'yes' : 'no' " ng-click="vm.client_setting.errand_complete_email = !vm.client_setting.errand_complete_email">
                            <span class="float-left">Yes</span>
                            <span class="float-right">No</span>
                            <span class="button"><span class="button-in"></span></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 center">
                        <h3 class="bottom-space-0 for-mobile small-class">SMS</h3>
                        <div class="shutter" ng-class="vm.client_setting.errand_complete_sms == true ? 'yes' : 'no' " ng-click="vm.client_setting.errand_complete_sms = !vm.client_setting.errand_complete_sms">
                            <span class="float-left">Yes</span>
                            <span class="float-right">No</span>
                            <span class="button"><span class="button-in"></span></span>
                        </div>
                    </div>
                </div>
                <!--3 select-->
                <div class="col-md-12 col-sm-12 left">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="bottom-space-0 top-space-0 left small-class">
                            When Purchased Hours are below
                        </h3>
                    <select class="selection" ng-model="vm.client_setting.hours" ng-options="hour.value as hour.text for hour in vm.hours">
                    </select>
                   </div>
                   <div class="col-md-3 col-sm-3 center">
                        <h3 class="bottom-space-0 for-mobile small-class">Email</h3>
                       <div class="shutter" ng-class="vm.client_setting.hours_email ? 'yes' : 'no' " ng-click="vm.client_setting.hours_email = !vm.client_setting.hours_email">
                           <span class="float-left">Yes</span>
                           <span class="float-right">No</span>
                           <span class="button"><span class="button-in"></span></span>
                       </div>
                   </div>
                   <div class="col-md-3 col-sm-3 center">
                    <h3 class="bottom-space-0 for-mobile small-class">SMS</h3>
                       <div class="shutter" ng-class="vm.client_setting.hours_sms ? 'yes' : 'no' " ng-click="vm.client_setting.hours_sms = !vm.client_setting.hours_sms">
                           <span class="float-left">Yes</span>
                           <span class="float-right">No</span>
                           <span class="button"><span class="button-in"></span></span>
                       </div>
                   </div>
                </div>
                <!--4 select-->
                <div class="col-md-12 col-sm-12 left">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="bottom-space-0 top-space-0 left small-class">
                            When 'Purchase For Me' Funds are below
                        </h3>
                        <input type="number" class="selection2" ng-model="vm.client_setting.funds"/>
                        <span class="selection2dolar">$</span>
                    </div>
                    <div class="col-md-3 col-sm-3 center">
                        <h3 class="bottom-space-0 for-mobile small-class">Email</h3>
                        <div class="shutter" ng-class="vm.client_setting.funds_email ? 'yes' : 'no' " ng-click="vm.client_setting.funds_email = !vm.client_setting.funds_email">
                            <span class="float-left">Yes</span>
                            <span class="float-right">No</span>
                            <span class="button"><span class="button-in"></span></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 center">
                        <h3 class="bottom-space-0 for-mobile small-class">SMS</h3>
                        <div class="shutter" ng-class="vm.client_setting.funds_sms ? 'yes' : 'no' " ng-click="vm.client_setting.funds_sms = !vm.client_setting.funds_sms">
                            <span class="float-left">Yes</span>
                            <span class="float-right">No</span>
                            <span class="button"><span class="button-in"></span></span>
                        </div>
                    </div>
                </div>
                <!--5 select-->
                <div class="col-md-12 col-sm-12 right bottom-space-20">
                    <button type="button" class="registration-btn" ng-click="vm.saveSetting()">Save Changes</button>
                </div>
            </div>
      