<div class="col-md-8 col-sm-9 section-block">
    <form name="resetpassform" ng-submit="updatePassword(vm.form, {config: 'default'})">
        <h3 class="section-head">Reset Password</h3>
        <div class="col-md-8 col-sm-12 left">
            <input type="password" name="currentpass" ng-model="vm.form.current_password" placeholder="Enter Current Password" class="inputs" required>
            <br>
            <input type="password" name="newpass" ng-model="vm.form.password" placeholder="Enter New Password" class="inputs" required>
            <br>
            <input type="password" name="confpass" ng-model="vm.form.password_confirmation" placeholder="Confirm New Password" class="inputs" passwordverify="Model.newpassword" required>
            <br>
        </div>
        <div class="col-md-12 col-sm-12 line">
        </div>
        <div class="col-md-12 col-sm-12 right bottom-space-20 mobile-none">
            <button type="submit" class="reverse-btn" ng-click="vm.form={}">Cancel</button>
            <button type="submit" class="registration-btn" >Save</button>
        </div>
    </form>
</div>