  <!--<header ng-include="'scripts/static/loginheader.html'"> </header>-->
<div class="container-fluid back-login">
    <div class="col-sm-6 col-sm-offset-3 col-xs-12 login-block">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12 padding0">
            <img src="images/zoomlogo.png" class="width150p" />
            <div class="col-sm-12 col-xs-12 center padding0">
                <button type="button" class="google-login" ng-click="authenticate('google', {config: 'default'})">
                    <img src="images/google-plus.png" alt="google" class="logo-fixed" /> Login with Google
                </button>
                <button type="button" class="facebook-login" ng-click="authenticate('facebook', {config: 'default'})">
                    <img src="images/facebook.png" alt="google" class="logo-fixed" /> Login with Facebook
                </button>
                <img src="images/or.png" class="width100 margin-20" />
                 <form name="loginform" ng-submit="submitLogin(vm.form, {config: 'default'});vm.waiting=true" role="form">
                    <input type="email" placeholder="Enter Email Address" name="user" ng-model="vm.form.email" class="login-inputs">
                    <input type="password" placeholder="Enter Password" name="password" ng-model="vm.form.password" class="login-inputs">
                    <div class="forgot-shift right">
                        <a ui-sref="forgotPassword">Forgot Password?</a>
                    </div>
                     <button type="submit" ng-disabled="vm.waiting" class="login-btn">Log In</button>
                     <img src="images/or.png" class="width100 margin-20" />
                  </form>
                <button class="login-btn bottom-offset-30" ui-sref="signup">Sign Up</button>
               </div>
        </div>
    </div>
</div>
<!--<footer ng-include="'scripts/static/loginfooter.html'"></footer>-->

  
