<div class="contact-container">
  <div class="contact-container-wrapper">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="contact-description">Submit a question here and we'll get back to you as soon as we can.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <input placeholder="Your Email *" ng-model="vm.contact_email" class="form-control">
      </div>
      <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <input placeholder="How can we help? *" ng-model="vm.contact_body" class="form-control">
      </div>      
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <button type="button" ng-click="vm.contact()" class="select-btn contact-submit">Submit</button>
      </div>
    </div>
  </div>
</div>
<div class="call-us">
  Call us today at <span class="rounded"><a href="tel:+13104256425">(310) 425-6425</a></span> to learn more
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <p class="contact-title">CONTACT US</p>
    <p class="contact-subtitle">We greatly value your feedback and your questions.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-1">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
    <div class="text-center"><img src="images/phone.png" class="contact-phone-image"></div>
    <p class="contact-phone-text">Call us <a href="tel:+13104256425">(310) 425-6425</a></p>
  </div>
  <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
    <div class="text-center"><img src="images/email.png" class="contact-email-image"></div>
    <p class="contact-email-text">Email <a href="mailto:info@zoomerrands.com">info@zoomerrands.com</a></p>
  </div>
</div>
