$aqua					: #7FDBFF;
$blue					: #0074D9;
$navy					: #001F3F;
$teal					: #39CCCC;
$green					: #2ECC40;
$olive					: #3D9970;
$lime					: #01FF70;

$yellow					: #FFDC00;
$orange					: #FF851B;
$red					: #FF4136;
$fuchsia				: #F012BE;
$purple					: #B10DC9;
$maroon					: #85144B;

$white					: #FFFFFF;
$silver					: #DDDDDD;
$gray					: #AAAAAA;
$black					: #111111;

// Colors Zoom
$grayBorder				: #CCCCCC;
$blueZoom				: #43C9E1;
$greenBarSafety			: #2e9014;
$graySideBarIzq			: #76939e;
$bgFormTab				: #f3fcfe;
$colorTextForm			: #8A8E8E;
$bgArticle				: #f6f6f6;
$titlesErrandsPopular	: #6E6E6E;
$titlesFooter			: #4F4F4F;
$tabParentHeader		: #545353;
$placeholder			: #b5b3b3;
$colorTextSubmission3	: #777676;
$colorLine				: #b9cbd1;
$securePay				: #abacab;
$labelPay				: #8c8a8a;
$borderTable			: #c7cccd;

$errandDetailBox1		: #d4dee2;
$errandDetailBox2		: #e2e9ec;
$errandDetailHr			: #636363;
$errandDetailColor		: #575656;
$colorFundsBg			: #dae7eb;
$colorTextHeadHF		: #525353;
$colorTextBodyHF		: #757677;
$bgAvailableHours		: #d0f2f8;
$borderHoursFunds		: #959595;
$textMenuHeaderNav		: #67838d;
$textTooltip			: #686969;
$borderTooltip			: #898989;
$titleCompletedOrders	: #464646;
$buttonsPayWhitCC		: #5b5b5b;
$buttonSwitch			: #d7d7d7;