/**********  Styles   ************/
@font-face {
    font-family: tw-cem;
    src: url(../fonts/tw-cen-mt.ttf);
}
body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: tw-cem;
        letter-spacing: 0.5px;
    font-weight: 300;

}
.navbar{
        background: #52C9E0;
        border-radius: 0px;
}
.logo100{
        width: 100px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
@media (max-width:767px){
.table h3{
    font-size:3vw;
}
.table h4{
    font-size:2.5vw;
}
.table th,.table td{
    padding:1px !important;
}
h2.account-head{
    margin-bottom:0px;
    font-size:24px;
}
.setting-list li h3{
    font-size:22px;
        margin-top: 10px;
    margin-bottom: 5px;
}
.section-head{
    font-size:24px;
}
button.again-btn{
    margin-right:0px;
        font-size: 14px;
}
input.inputs{
    height:30px;
    font-size:18px;
    padding:5px;
    margin-bottom:15px;
}
button.reverse-btn,button.registration-btn {
    font-size: 20px;
    padding: 3px 15px;
}
}
.navbar-brand {
overflow: auto;
height: auto;
padding: 10px 15px;
}
.pay-title h2,.check-title h2{
    margin: 5px;
    color: #fff;
}
.pay-title{
    background: #78939E;
    margin: 5vw 0;
}
.footer{
    background: #52c9e0;
    margin-top: 30px;
    text-align: center;
    color: #fff;
}
.check-title{
    background: #52C9E0;
    margin: 5vw 0;
}
.contact{
    color: #fff;
    font-size: 19px;
    font-weight: 300;
    padding: 10px 5px;
}
.popup{
    position: absolute;
    z-index: 1;
    top: -22px;
}
.close{
    float: right;
    color: #fff;
        float: right;
    color: #fff;
    opacity: 1;
    font-size: 30px;
    margin-right: 15px;
}
.question{
    cursor: pointer;
}
.shutter{
    cursor:pointer;
}
.shutter.yes{
    background: #1BA852;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    width: 76px;
    border-radius: 17px;
    height: 33px;
    font-size: 16px;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}
.shutter.no{
    background: #EE6B51;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    width: 76px;
    border-radius: 17px;
    height: 33px;
    font-size: 16px;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}
.button-in{
    background: #D7D7D7;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    display: block;
}
.shutter.yes .button{
    padding: 3px ;
    display: inline-block;
    border-radius: 50%;
    background: -webkit-linear-gradient(left top, #eee 60%, #666); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right,  #eee,  #666); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom,  #eee,  #666); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom,  #eee,  #666); /* Standard syntax */
        position: relative;
    left: 18px;
    bottom: 24px;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}
.shutter.no .button{
    padding: 3px ;
    display: inline-block;
    border-radius: 50%;
    background: -webkit-linear-gradient(left top, #eee 60%, #666); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right,  #eee,  #666); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom,  #eee,  #666); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom,  #eee,  #666); /* Standard syntax */
        position: relative;
    left: -18px;
    bottom: 24px;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}
.navbar-nav li a{
        color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding: 20px 10px;
}
.bottom-bordered{
    padding-bottom: 10px;
    border-bottom: 2px solid #959595;
}
.inline-block{
    display: inline-block;
}
.inputs{
width: 100%;
    height: 45px;
    border: 2px solid #ccc;
    margin-bottom: 30px;
    font-size: 22px;
    padding: 10px;
    letter-spacing: 1px;
}
.registration-btn{
    color: #fff;
    border: 2px solid #52C9E0;
    background: #52c9e0;
    font-size: 22px;
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 5px 20px;
}
.registration-btn:hover{
    color: #52C9E0;
    background: #fff;
}
.top-offset-30{
    margin-top: 30px;
}
.deactivate-btn{
    color: #fff;
    border: 2px solid #EE6B51;
    background: #EE6B51;
    font-size: 22px;
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 5px 20px;
}
.profile-img{
    height:155px;
    width: 155px;
    padding: 0px;
    border: 1px solid #78939E;
}
.pic-btn{
    background: #78939E;
    margin: 20px auto;
    color: #fff;
    font-size: 18px;
    border: 2px solid #78939e;
    border-radius: 20px;
    padding: 5px 15px;
}
.pic-btn:hover{
    background: #fff;
    margin: 20px auto;
    color: #78939E;
    font-size: 18px;
    border: 2px solid #78939e;
    border-radius: 20px;
    padding: 5px 15px;
}
.deactivate-btn:hover{
    color: #EE6B51;
    background: #fff;
}
.reverse-btn{
    margin-bottom:10px;
        color: #52C9E0;
    background: #fff;
    border: 2px solid #52C9E0;
    font-size: 22px;
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 5px 20px;
    margin-right: 30px;
}
.select-btn{
        color: #52C9E0;
    background: #fff;
    border: 2px solid #52C9E0;
    font-size: 22px;
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 30px 0px;
}
.reverse-btn:hover,.select-btn:hover{
color: #fff;
    background: #52c9e0;
}
.gray-select-btn{
        color: #60727A;
    background: #fff;
    border: 2px solid #60727A;
    font-size: 22px;
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 30px 0px;
}
.gray-select-btn:hover{
color: #fff;
    background: #60727A;
}
.clear-btn{
        color: #60727A;
    background: #EAF5FA;
    border: 2px solid #60727A;
    font-size: 22px;
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 30px 0px;
}
.clear-btn:hover{
color: #EAF5FA;
    background: #60727A;
}
.content-block{
        border: 1px solid #ccc;
    padding: 15px;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.navbar-toggle .icon-bar{
    background: #fff;
}
.navbar-toggle{
    border:1px solid #fff;
}
.nav>li>a:focus, .nav>li>a:hover{
    background: transparent;
    color: #333;
}
.image-circle img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.dropdown-toggle.image-circle{
        padding: 5px 20px;
}
.dropdown-menu li a{
    padding: 5px 20px;
    color: #666;
}
.dropdown-menu{
    background: #fff;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background: #52C9E0;
    color: #fff;
}
.account-head{
        color: #718E99;
    border-bottom: 2px solid #718E99;
    padding-bottom: 10px;
    font-weight: 300;
    margin-bottom: 30px;
}
.check-head{
        color: #718E99;
    border-bottom: 1px solid #718E99;
    padding-bottom: 10px;
    font-weight: 300;
    margin-bottom: 30px;
}
.credit-head{
        color: #718E99;
    font-weight: 300;
    margin-bottom: 30px;
}
.amount{
        border: 2px solid #718E99;
    padding: 6px 20px;
    width: -webkit-calc(100% - 100px);
    width: -o-calc(100% - 100px);
    width: calc(100% - 100px);
    font-size: 24px;
}
.promo{
        border: 2px solid #718E99;
    padding: 6px 20px;
    width: -webkit-calc(100% - 100px);
    width: -o-calc(100% - 100px);
    width: calc(100% - 100px);
    font-size: 24px;
    margin:30px 0px;
}
.amount-btn{
    color: #fff;
    background: #78939E;
    position: relative;
    left: -4px;
    font-size: 25px;
    border: none;
    width: 95px;
    height: 50px;
}
.cards{
        max-height: 40px;
    max-width: 100%;
}
.unit{
        position: absolute;
    font-size: 24px;
    left: 20px;
    top: 91px;
}
.padding0{
    padding: 0px;
}
.line-2{
    background: #666;
    height: 1px;
    position: relative;
    width: 100%;
    top: 70px;
    z-index: -1;
}
.setting-list{
    list-style: none;
        padding-left: 20px;
}
.setting-list h3{
    color: #718E99;
}
.fund-btn{
    background: #78939E;
    color: #fff;
    border: 2px solid #78939E;
    font-size: 24px;
    padding: 3px 15px;
    border-radius: 30px;

}
.fund-btn:hover{
    background: #fff;
    color: #78939E;
    border: 2px solid #78939E;
    font-size: 24px;
    padding: 3px 15px;
    border-radius: 30px;

}
.purchase-head{
    color: #5B5B5B;
    background: #fff;
    padding: 0px 20px;
    margin-top: 50px;
    display: inline-block;
}
.setting-list a:hover{
    color: #718E99;
    text-decoration: none;
    
}
.offset-20{
    margin:20px 0px;
}
.setting-list h3{
margin-bottom: 10px;
    padding-bottom: 5px;
    display: inline-block;
}
.setting-list h3.active{
    border-bottom: 2px solid #718E99;
    padding-bottom: 3px;
}
.setting-list h3:hover{
    border-bottom: 2px solid #718E99;
    padding-bottom: 3px;
}
table.table>tbody>tr>td{
    vertical-align: middle;
    text-align: center;
}
.table-body, .pack-box{
    border: 2px solid #52C9E0;
    border-radius: 15px;
    padding: 0px;
    overflow: hidden;
    background: #F0F7F8;
}
.table-body{
    overflow-x: auto;
}
 .gray-box{
    border: 2px solid #657177;
    border-radius: 15px;
    padding: 0px;
    overflow: hidden;
    background: #F0F7F8;
        margin: 25px 0px;
    box-shadow: 2px 2px 5px #aaa;
}
.pack-box{
    margin: 25px 0px;
    box-shadow: 2px 2px 5px #aaa;
}
.table td{
    border: 1px solid #52C9E0;
    border-collapse: collapse;
    color: #5B5B5B;
}
.table{
    margin-bottom: 0px;
}
.pack-duration{
        margin: 0px;
    padding: 20px 0px;
    background: #52C9E0;
    color: #fff;
}
.gray-box .pack-duration{
    background: #78939E;
}
.sub-text{
    color: #5B5B5B;
}
.section-head{
     background: #52C9E0;
    color: #fff;
    padding: 8px;
    margin-bottom: 30px;

}
.line{
    width: 100%;
    height: 2px;
    background: #718E99;
    margin: 20px 0px;
}
.bottom-space-20{
    padding-bottom: 20px;
}
.top-space-0{
    margin-top: 0px;
}
span.chat{
        padding: 10px;
    background: #78939E;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #ddd;
    cursor: pointer;
}
@media (max-width:340px){
    span.chat{
   margin-top:20px;
}
}
@media (max-width:767px){
    .unit{
            top: 70px;
    }
}
span.chat img{
    width: 50px;
}

.bottom-offset-20{
    margin-bottom: 20px;
}
.top-offset-20{
    margin-top: 20px;
}
.bottom-space-0{
    margin-bottom: 0px;
}
.selection{
        -webkit-appearance: none;
    height: 35px;
    width: 65px;
    border-radius: 0px;
    background-image: url(../images/dn-arrow.png);
        background-repeat: no-repeat;
    background-position: center right;
    background-size: 25px 44px;
    padding-left: 5px
}
.again-btn{
        color: #52C9E0;
    background: #fff;
    border: 2px solid #52C9E0;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 5px 0px;
    margin-right: 30px;
    width: 120px;
}
.again-btn:hover{
        color: #fff;
    background: #52C9E0;
    border: 2px solid #52C9E0;
}
.table tr:last-child{
    border-bottom: 1px solid #ddd;
}
.table-div{
        max-width: 100%;
    overflow: auto;
}
.rich-text{
        border: 2px solid #EE6B51;
    padding: 20px;
    margin-top: 30px;
}
.rich-text h3{
    color: #EE6B51;
}
.gray-text{
    color: #718E99;
}
.plus-btn{
    background: #fff;
    border: none;
    
}
.plus{
    background: #52C9E0;
    color: #fff;
    padding: 0px 4px;
    border-radius: 50%;
    font-size: 20px;
    
}
.selection-country{
        -webkit-appearance: none;
    height: 35px;
    width: 100%;
    border-radius: 0px;
    background: #fff url(../images/dn-arrow.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 25px 44px;
    padding-left: 5px;
    max-width: 320px;
}
@media (min-width:768px){
.section-block{
    border-left: 2px solid #718E99;
}
.for-mobile{
    display: none;
}
.for-desktop{
    display: block;
}
}
@media (max-width:767px){
.section-block{
    border-top: 2px solid #718E99;
}
.for-mobile{
    display: block;
}
.for-desktop{
    display: none;
}
}
.minimum{
    min-height:80vh;
    min-height:calc(100vh - 153px);
     min-height:-webkit-calc(100vh - 153px);
 }
.pointer{
    cursor:pointer;
}
@media (max-width:768px){
    .mobile-none{
        padding:0px;
    }
    .reverse-btn{
        margin-right:0px;
    }
}