@import '_functions.scss';
@import '_colors.scss';

@font-face{
	font-family: 'Tw Cen MT';
	font-style: normal;
	font-weight: normal;
	src: local('Tw Cen MT'), url('../fonts/tw-cent-mt/Tw Cen MT.woff') format('woff');
}

body{
	font-family: 'Tw Cen MT';
	font-size:14px;
}
 
*{
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	outline:none !important;
}

textarea::-webkit-input-placeholder, 
   input::-webkit-input-placeholder {
   color: $placeholder !important;
} /* WebKit */

textarea:-moz-placeholder, 
   input:-moz-placeholder {
   color: $placeholder !important;
} /* Firefox 18- */

textarea::-moz-placeholder, 
   input::-moz-placeholder {
   color: $placeholder !important;
} /* Firefox 19+ */

textarea:-ms-input-placeholder, 
   input:-ms-input-placeholder {
   color: $placeholder !important;
} /* IE 10+ */

.zoom{
	// ----------------------------------------------------
	// -----------------------HEADER-----------------------
	// ----------------------------------------------------
	header{
		nav.navbar{
			// Laptop/Tablet (1024px)
			@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
				background:$blueZoom;
			}

			// Tablet Portrait (768px)
			@media only screen and (min-width: 321px) and (max-width: 1024px) and (orientation: portrait) {
				background:$blueZoom;
			}

			// Phone Landscape (480px)
			@media only screen and (min-width: 321px) and (max-width: 480px) and (orientation: landscape) {
				background:$blueZoom;
			}

			// Phone Portrait (320px)
			@media only screen and (max-width: 320px) {
				background:$blueZoom;
			}
			background:$blueZoom;
		    @include border(0px);
		    @include margin(0px,0px,0px,0px);
		    .container-fluid{
		    	.navbar-collapse{
		    		.navbar-nav{
		    			li{
		    				a{
								color: $white;
							    font-size:18px;
							    &:hover{
									background:$blueZoom;						    	
							    }
							}
							&.dropdown{
		    					@include padding(0px,0px,0px,0px);
								a{
		    						background:$blueZoom;	
		    						@include padding(0px,0px,0px,0px);
		    						@include margin(5px,0px,0px,0px);
		    						&:hover,:focus,:active,:visited{
		    							background:$blueZoom;	
		    						}									
								}
								ul.dropdown-menu{
									@include border(1px,solid,$borderHoursFunds);
									@include padding(5px,20px,5px,20px);
									li{
										@include margin(20px,0px,20px,0px);
										a{
											font-size:20px;
											background:$white;
											color:$textMenuHeaderNav;
										}
									}
								}
							}
		    			}
		    			img{
		    			}
		    		}
		    	}
		    	.navbar-header{
		    		.navbar-brand{
						@include padding(5px,15px,5px,15px);
					}
					.navbar-toggle{
					    @include border(0px,solid,$white);
					    background:transparent;
						&:hover{
							@include border(0px,solid,$white);
					    	background:transparent;						    	
					    }
					    .icon-bar{
						    background-color: $white;
						}
					}
		    	}
			}
		}
		span#msjSubHeader{
			background-color: $greenBarSafety;
			color:$white;
			display:block;
			width:100%;
			@include text-align(center);
			@include padding(10px,10px,10px,10px);
		}
	}
	// ----------------------------------------------------
	// -----------------------HEADER-----------------------
	// ----------------------------------------------------

	
	section{
		.row{
			// ---------------------------------------------------------------
			// -----------------------SIDEBAR IZQUIERDA-----------------------
			// ---------------------------------------------------------------
			aside#latIzq{
				.textContainer{
					@include padding(0px,10px,0px,10px);
					background:$graySideBarIzq;
					color:$white;
					font-size:18px;
					.sub-textContainer{
						@include padding(36px,25px,0px,25px);
						.row{
							@include margin(56px,0px,0px,0px);
							.step{
								@include margin(0px,0px,38px,0px);
								span{
									display:block;
									width:25px;
									height:25px;
									line-height:25px;
									@include border-radius(80px);
									background-color:$white;
									color:$graySideBarIzq;
									font-size:16px;
									font-weight:bold;
									@include margin(0px,auto,18px,auto);
								}
								p{
									line-height:1em;
								}
							}
						}
						.orText{
							@include margin(0px,0px,33px,0px);
						}
						.callText{
							@include margin(0px,0px,15px,0px);
						}
						.number{
							@include border(2px,solid,$white);
							@include border-radius(20px);
							@include padding(0px,0px,0px,0px);
							@include margin(0px,auto,15px,auto);
							width:140px;
						}
					}
					p.toMakeText{
						@include margin(0px,0px,0px,0px);
						@include padding(0px,0px,40px,0px);
					}
				}
			}
			// ---------------------------------------------------------------
			// -----------------------SIDEBAR IZQUIERDA-----------------------
			// ---------------------------------------------------------------
			

			// -------------------------------------------------------------
			// -----------------------SIDEBAR DERECHO-----------------------
			// -------------------------------------------------------------
			aside#latDer{
				.tabParent{
					.tab-parent-header{
						@include margin(50px,0px,36px,0px);
						li{	
							width:calc(100% / 3);
							@include text-align(center);
							@include border-bottom(0px);
							font-size:16px;
							a{	
								@include padding(0px,0px,10px,0px);
								@include margin(0px,0px,0px,0px);
								@include border(0px,solid,transparent);
								color:$tabParentHeader;
								cursor: pointer;
								font-weight:600;
								display:block;
								&:hover{
									background:transparent;
								}
							}
							&:hover{
								@include border-bottom(5px,solid,$graySideBarIzq);		
							}
						}
						li.active{
							a{
								@include border-bottom(5px,solid,$graySideBarIzq);								
							}
							&:hover{
								@include border-bottom(0px,solid,transparent);		
							}
						}
					}
					.tab-parent-content{
						.tab-pane{
							.titleTabErrand{
								background:$blueZoom;
								@include padding(10px,10px,10px,10px);
								@include border-radius-top-left(10px);
								@include border-radius-top-right(10px);
								color:$white;
								font-size:20px;
								@include text-align(center);
								@include margin(10px,0px,5px,0px);
							}
							.tab-header-post-errand{
								@include border(0px);
								li{
									width:calc(100% / 3);
									@include border(1px,solid,$grayBorder);
									font-size:16px;
									&:nth-child(2){
										@include border-left(0px,solid,transparent);
										@include border-right(0px,solid,transparent);
									}
									a{
										&:hover{
											@include margin(0px,0px,0px,0px);
											color:$white;
											cursor: pointer;
											background-color: $blueZoom;
											@include border(1px,solid,$blueZoom);
											@include border-radius(0px);
										}
									}
								}
								li.active{
									a{
										@include margin(0px,0px,0px,0px);
										color:$white;
										cursor: pointer;
										background-color: $blueZoom;
										@include border(1px,solid,$blueZoom);
										@include border-radius(0px);
										&:hover,:focus{
											@include margin(0px,0px,0px,0px);
											color:$white;
											cursor: pointer;
											background-color: $blueZoom;
											@include border(1px,solid,$blueZoom);
											@include border-radius(0px);
										}
									}
								}
							}
							.tab-content-post-errand{
								.tab-pane{
									.containerForm{
										background: $bgFormTab;
										@include box-shadow(0px,15px,30px,0px,173,173,173,0.75);
										@include border-radius-bottom-left(10px);
										@include border-radius-bottom-right(10px);
										@include padding(20px,20px,20px,20px);
										color:$colorTextForm;
										font-size:16px;
										letter-spacing:0.7px;
										.tabPayment{
											@include margin(20px,20px,20px,20px);
										}
										form{
											.row{
												span.spanBalance{
													@include border(1px,solid,$gray);
													@include border-radius(40px);
													display:block;
													width:220px;
													letter-spacing:0px;
													@include padding(5px,10px,5px,10px);
													-webkit-box-sizing: border-box;
													-moz-box-sizing: border-box;
													box-sizing: border-box;
													background:$white;
												}
												.form-group{
													input, textarea{
														font-size:17.93px;
													}
													.textarea{
														position: relative;
														textarea{
															@include padding(10px,20px,10px,20px);
															letter-spacing:1.4px;
															font-weight:normal;
															resize:none;
														}
														.imageClip{
															position: absolute;
															bottom:10px;
															right:10px;
															background:url('../images/clip.png');
															width:14px;
															height:18px;
														}
													}
													.input-group{
														input.searchZoom{
															@include border-left(0px,solid,transparent);
														}
														.input-group-addon{
														    background-color: $white;
														    @include border-right(0px,solid,transparent);
														    @include border-radius(0px);
														}
													}
													.containerTimepicker{
														.dropdown{
															.textTimepicker{
																float:left;
																font-weight:bold;
															}
															input[type="text"]{
																color:$colorTextForm;
																@include margin(6px,0px,6px,0px);
																width:206px;
																background:transparent;
																@include border(0px,solid,transparent);
																@include border-bottom(1px,solid,$colorTextForm);
																@include padding(0px,0px,0px,0px);
																@include text-align(center);
																font-size:16px;
																height: 20px;
																float:left;
																font-weight:bold;
															}
														}
													}
												}
											}
											button.btnBottomForm{
												width:100%;
												background:transparent;
												@include border(2px,solid,$graySideBarIzq);
												color:$graySideBarIzq;
												@include border-radius(10px);
												font-size:16px;
											}
											button.btnBottomForm.active,
											button.btnBottomForm:hover{
												background:$graySideBarIzq;
												color:$white;
												&:hover{
													background:$graySideBarIzq;
													color:$white;
												}
											}
											button.btnNext,
											button.btnBack{
												width:170px;
												color:$graySideBarIzq;
												@include border-radius(10px);
												font-size:16px;
												background:$blueZoom;
												color:$white;
												@include margin(40px,0px,0px,0px);
												height:40px;
											}
											h3{
												color:$white;
												background:$blueZoom;
												font-weight:normal;
												font-size:20px;
												@include padding(5px,10px,5px,10px);
												@include margin(20px,20px,20px,20px);
											}
											ul.header-payment-container{
												@include margin(30px,0px,0px,0px);
												li{	
													background:transparent;
													width:50%;
													@include text-align(center);
													@include border-bottom(0px);
													font-size:21.85px;
													a{	
														@include padding(0px,0px,0px,0px);
														@include margin(0px,0px,0px,0px);
														@include border(0px,solid,transparent);
														color:$graySideBarIzq;
														cursor: pointer;
														display:block;
														font-weight:normal;
														&:hover{
															background:transparent;
														}
													}
													&:hover{
														@include border-bottom(5px,solid,$graySideBarIzq);		
													}
												}
												li.active{
													a{
														background:transparent;
														@include border-bottom(5px,solid,$graySideBarIzq);								
													}
													&:hover{
														@include border-bottom(0px,solid,transparent);		
													}
												}
											}
											div.content-payment-container{
												@include padding(39px,0px,0px,0px);
												#tab-use-hours{
													p{
														font-size:19.77px;
														color:$colorTextSubmission3;
														span{
															font-weight:bold;
															color:$blueZoom;
														}
													}
													hr{
														@include margin(17px,0px,30px,0px);
														@include border-bottom(1px,solid,$colorLine);
													}
												}
												#tab-pay{
													.row{
														.form-group{
															label{
																color:$labelPay;
																font-size:19px;
																font-weight:normal;
															}
															.input-group{
																input[type="text"]{
																	@include border-right(0px,solid,transparent);
																}
																span.input-group-addon{
																	background-color:$white;
																	@include border-left(0px,solid,transparent);
																	@include border-right(1px,solid,$grayBorder	);
																	i{
																		font-size:20px;
																		color:$securePay;
																	}
																}
															}
															img{
																@include margin(32px,0px,0px,0px);
															}
														}
													}
												}
											}
											.order{
												@include padding(0px,0px,20px,0px);
												h3{
													color:$white;
													background:$blueZoom;
													font-weight:normal;
													font-size:20px;
													@include padding(10px,10px,10px,10px);
													@include margin(0px,0px,0px,0px);
												}
												.text{
													color: $tabParentHeader;
													@include border(1px,solid,$graySideBarIzq);
													@include padding(20px,20px,40px,20px);
													@include margin(20px,20px,20px,20px);
													background:$white;
													font-weight:bold;
													hr{
														@include margin(17px,0px,30px,0px);
														@include border-bottom(1px,solid,$colorLine);
													}
													.return{
														@include padding(90px,0px,0px,0px);														
														i{
															color:$blueZoom;
															line-height:15px;
															float:left;
															font-size:16px;
															height:15px;
															margin-top:5px;
															font-weight:normal;
														}
														a{
															font-size:18px;
															color:$blueZoom;
															text-decoration:none;
															display:block;
															float:left;
															@include padding(0px,0px,0px,0px);
															height:25px;
															line-height:25px;
															@include margin(0px,0px,0px,2px);
															font-weight:normal;
														}
													}													
												}
											}
											.buttonFinish{
												width:100%;
												@include text-align(center);
												@include margin(0,auto,30px,auto);
												.btnConfirm{
													width:292px;
													height:53px;
													@include text-align(center);
													@include border-radius(10px);
													background:$graySideBarIzq;
													@include padding(10px,10px,10px,10px);
													font-size:21.85px;
													color:$white;
												}
												p{
													font-size:14px;
													color:$graySideBarIzq;
													@include padding(10px,0px,0px,0px);
													letter-spacing:0px;
												}
											}
										}
									}
									.payment-form{
										@include padding(20px,0px,0px,0px);
									}
								}
							}
							.tableErrandsProgress{
								@include box-shadow(0px,15px,30px,0px,173,173,173,0.40);
								@include border-radius(20px);
								// @include border(1px, solid, $blueZoom);
								@include padding(0px,0px,30px,0px);
								@include margin(0px,0px,0px,0px);
								background:$bgFormTab;
								table{
									thead{
										tr{
											background:$blueZoom;
											th{
												@include border(0px, solid, transparent);
												color:$white;
												font-weight:normal;
												@include text-align(center);
												vertical-align:middle;
												font-size:16px;
											}
										}
									}
									tbody{
										tr{
											td{
												.tooltip{
													font-family: 'Tw Cen MT';
													font-size:14px;
													opacity: 1;
													.tooltip-inner {
														color:$textTooltip;
														position: relative;
														background: $white;
														text-align:left;
														@include padding(15px,10px,15px,10px);
														@include border-radius(20px);
														@include border(1px,solid,$borderTooltip);
														button{
													    	float:right;
													    	clear: both;
													    	background:$blueZoom;
													    	color:$white;
													    	width:40px;
													    	line-height:16px;
													    	@include padding(2px,5px,2px,5px);
													    	@include border(0px,solid,transparent);
													    	@include border-radius(0px);
													    }
													    p{
													    	font-weight:normal;
													    }
													}
													.tooltip-inner:after, .tooltip-inner:before {
														bottom: 100%;
														left: 50%;
														border: solid transparent;
														content: " ";
														height: 0;
														width: 0;
														position: absolute;
														pointer-events: none;
													}

													.tooltip-inner:after {
														border-color: rgba(137, 137, 137, 0);
														border-bottom-color: $white;
														border-width: 15px;
														margin-left: -15px;
													}
													.tooltip-inner:before {
														border-color: rgba(137, 137, 137, 0);
														border-bottom-color: $borderTooltip;
														border-width: 16px;
														margin-left: -16px;
													}
												}
												vertical-align:middle;
												// width:calc(100% / 6);
												@include text-align(center);
												@include border-bottom(1px,solid,$borderTable);
												button.tooltipErrandService{
													background:transparent;
													@include border(1px,solid,transparent);
												}
												button.tooltipDescription{
													background:transparent;
													@include border(1px,solid,transparent);
												}
												&:nth-child(4){
													button.tooltipDescription{
														@include margin(0px,auto,0px,auto);
														@include text-align(center);
														width:80px;
														white-space: nowrap;
														overflow: hidden;
														text-overflow: ellipsis;
													}
												}
												&:nth-child(5){
													@include text-align(left);
												}
												button.btnOrderAgain{
													background:$blueZoom;
													@include border(0px, solid, transparent);
													@include padding(5px,5px,5px,5px);
													@include border-radius(25px);
													@include margin(0px,0px,10px,0px);
													color:$white;
													width:100px;
												}
												button.btnEditOrder{
													background:$white;
													color:$blueZoom;
													@include border(1px, solid, $blueZoom);
													@include padding(2px,5px,2px,5px);
													width:100px;
												}
												.image{
													width:40px;
													height:40px;
													@include border-radius(40px);
													overflow:hidden;
													@include text-align(center);
													@include margin(0px,auto,0px,auto);
													img{
														@include text-align(center);
														@include margin(0px,auto,0px,auto);
													}
												}
											}
										}
									}
								}
							}
							.tab-content-hours{
								background:$bgFormTab;
								@include border-radius-bottom-right(20px);
								@include border-radius-bottom-left(20px);
								.row{
									div.hours,
									div.funds{
										h1{
											@include margin(0px,0px,0px,0px);
											@include padding(20px,20px,20px,20px);
											font-size:24px;
											color:$white;
										}
										.buttonHours,
										.buttonFunds{
											@include margin(32px,0px,32px,0px);
											button{
												width:200px;
												height:60px;
												@include border(0px,solid,transparent);
												font-size:22px;
												color:$white;
												@include border-radius(20px);
											}
										}
										.buttonHours{
											button{
												background:$blueZoom;
											}
										}
										.buttonFunds{
											button{
												background:$graySideBarIzq;
											}
										}
									}
									div.hours{
										@include padding(0px,0px,0px,15px);
										h1{
											@include border-radius-top-left(10px);
											background:$blueZoom;
										}
										.row{
											vertical-align:middle;
											@include margin(0px,0px,0px,0px);
											.available-hours{
												height:240px;
												background:$bgAvailableHours;
												@include border-bottom(1px,solid,$borderHoursFunds);
												h4{
													font-size:22px;
													@include margin(27px,0px,60px,0px);
													color:$colorTextHeadHF;
												}
												h2{
													font-size:43px;
													color:$colorTextBodyHF;
												}
											}
											.used-hours{
												height:240px;
												@include border-bottom(1px,solid,$borderHoursFunds);
												h4{
													font-size:22px;
													@include margin(27px,0px,60px,0px);
													color:$colorTextHeadHF;
												}
												h2{
													font-size:43px;
													color:$colorTextBodyHF;
												}
											}
										}
									}
									div.funds{
										@include padding(0px,15px,0px,0px);
										h1{
											@include border-radius-top-right(10px);
											background:$graySideBarIzq;
										}
										.row{
											vertical-align:middle;
											@include margin(0px,0px,0px,0px);
											.available-funds{
												height:240px;
												background:$colorFundsBg;
												@include border-left(1px,solid,$borderHoursFunds);
												@include border-bottom(1px,solid,$borderHoursFunds);
												h4{
													font-size:22px;
													@include margin(27px,0px,60px,0px);
													color:$colorTextHeadHF;
												}
												h2{
													font-size:43px;
													color:$colorTextBodyHF;
												}
											}
											.used-funds{
												height:240px;
												@include border-bottom(1px,solid,$borderHoursFunds);
												h4{
													font-size:22px;
													@include margin(27px,0px,60px,0px);
													color:$colorTextHeadHF;
												}
												h2{
													font-size:43px;
													color:$colorTextBodyHF;
												}
											}
										}
									}
								}
							}							
						}
					}
				}
			}
			// -------------------------------------------------------------
			// -----------------------SIDEBAR DERECHO-----------------------
			// -------------------------------------------------------------
		}
	}
	// -----------------------------------------------------
	// -----------------------ARTICLE-----------------------
	// -----------------------------------------------------
	article{
		background:$bgArticle;
		h3{
			@include padding(50px,0px,50px,0px);
			@include margin(0px,0px,0px,0px);
			font-size:30px;
		}
		.containerImage{
			@include margin(0px,0px,40px,0px);
			img{
				@include border-radius(10px);
				@include margin(0px,auto,0px,auto);
			}
			h4{
				font-weight:normal;
				color:$titlesErrandsPopular;
			}
		}
	}
	// -----------------------------------------------------
	// -----------------------ARTICLE-----------------------
	// -----------------------------------------------------
	
	// ----------------------------------------------------
	// -----------------------FOOTER-----------------------
	// ----------------------------------------------------
	footer{
		h3,h4{
			color:$titlesFooter;
			font-weight:bold;
			font-size:20px;
		}

		button{
			width:200px;
			background:transparent;
			font-size:16px;
			background:transparent;
			color:$blueZoom;
			font-weight:normal;
			height:40px;
			@include border-radius(10px);
			@include border(2px,solid,$blueZoom);
			@include text-align(center);
			@include margin(50px,auto,0px,auto);
			&:hover{
				background:$blueZoom;
				color:$white;
			}
		}
		button.active{
			background:$blueZoom;
			color:$white;
		}
		.subfooter{
			background:$blueZoom;
			width:100%;
			height:60px;
			line-height:60px;
			@include margin(50px,0px,0px,0px);
			color:$white;
			font-size:18px;
		}
	} 
	// ----------------------------------------------------
	// -----------------------FOOTER-----------------------
	// ----------------------------------------------------
	
	// ----------------------------------------------------------------------
	// -----------------------ERRANDS PROGRESS DETAILS-----------------------
	// ----------------------------------------------------------------------	
	div.errandsProgressDetail{
		h3{
			background:$blueZoom;
			color:$white;
			@include text-align(center);
			@include padding(10px,10px,10px,10px);
			@include margin(20px,0px,0px,0px);			
			font-size:17px;
		}
		.panel-group{
			@include margin(0px,0px,0px,0px);			
			.panel{
				@include border(0px,solid,transparent);
				@include box-shadow(0px,0px,0px,0px,0,0,0,0.75,inset);
				@include box-shadow(0px,0px,0px,0px,255,0,0,0.6);
				.panel-heading{
					background:$graySideBarIzq;
					color:$white;
					.panel-title{
						a{
							text-decoration:none;
							span.number{
								@include border(2px,solid,$white);
								@include border-radius(20px);
								@include padding(0px,5px,0px,5px);
								font-weight:bold;
								display:inline-block;
								background:$white;
								color:$graySideBarIzq;
							}
							span.text{
								display:inline-block;
								@include padding(0px,19px,0px,19px);
								@include text-align(left);
							}
							&:after {					
								font-family: 'Glyphicons Halflings';
								// content: "\e114"; 
								content:"\e252";
								display:inline-block;
							}
							&.collapsed:after {
								content:"\e250";
								// content: "\e080";   
							}
						}
						@include margin(0px,auto,0px,auto);
						width:100%;
						max-width:686px;
					}
				}
				.panel-collapse{					
					.panel-body{
						.row{
							.provider{
								background:$errandDetailBox1;
								width:100%;
								@include padding(10px,10px,10px,10px);
								.row{
									.image{
										width:70px;
										height:70px;
										@include border-radius(40px);  
										overflow:hidden;
										@include text-align(center);
										@include margin(0px,auto,0px,auto);
										img{
											@include text-align(center);
											@include margin(0px,auto,0px,auto);
										}
									}
									p{
										color:$errandDetailColor;
										@include margin(0px,0px,0px,0px);
										@include padding(0px,0px,0px,0px);
										font-size:16px;
									}
									hr{
										@include margin(7px,0px,7px,0px);
										@include border(0px,solid,transparent);
										@include border-bottom(1px,solid,$errandDetailHr);
									}
								}
							}
							.details{
								background:$errandDetailBox2;
								width:100%;
								@include margin(10px,0px,0px,0px);
								@include padding(10px,10px,10px,10px);
								p{
									font-size:16px;
									color:$errandDetailColor;
									@include margin(0px,0px,0px,0px);
									@include padding(0px,0px,0px,0px);
									font-size:16px;
								}
								button.btnEditErrand{
									background:$blueZoom;
									@include border-radius(10px);
									color:$white;
									@include padding(2px,10px,2px,10px);
									@include border(0px,solid,transparent);
								}
							}
						}
						a.contactZoom{
							@include border(2px,solid,$blueZoom);
							color:$blueZoom;
							width:100%;
							@include padding(5px,5px,5px,5px);
							display:block;
							@include border-radius(20px);
							@include text-align(center);
							@include margin(20px,0px,0px,0px);
						}
						@include padding(10px,0px,10px,0px);
						@include border(0px,solid,transparent);
						@include margin(0px,auto,0px,auto);
						width:100%;
						max-width:686px;
					}
				}
			}
		}
	}
	// ----------------------------------------------------------------------
	// -----------------------ERRANDS PROGRESS DETAILS-----------------------
	// ----------------------------------------------------------------------
	
	// --------------------------------------------------------
	// -----------------------MY ERRANDS-----------------------
	// --------------------------------------------------------
	.myErrands{
		position: relative;
		h2{
			color:$graySideBarIzq;
			font-size:25px;
			@include margin(30px,0px,0px,0px);
			@include padding(0px,0px,20px,0px);
			@include border-bottom(1px,solid,$graySideBarIzq);
		}
		h3{
			color:$titleCompletedOrders;
			font-size:25px;
			@include margin(30px,0px,0px,0px);
			@include padding(0px,0px,20px,0px);
		}
		.bgHead{
			background:$blueZoom;
			position: absolute;
			top:170px;
			left:0px;
			height:38px;
			width:100%;
		}
		.filters{
			clear: both;
			@include margin(20px,0px,0px,0px);
			p{
				float: left;
				line-height:24px;
				height:24px;
				font-size:20px;
				color:$graySideBarIzq;
				@include margin(0px,50px,0px,0px);
				span.circle{
					@include border-radius(40px);
					width:24px;
					height:24px;
					line-height:24px;
					@include text-align(center);
					@include margin(0px,20px,0px,0px);
					display:inline-block;
					background-color:$graySideBarIzq;
					color:$white;
					font-size:15px;
				}
			}
		}
		.tableErrandsProgress{
			// @include box-shadow(0px,15px,30px,0px,173,173,173,0.40);
			// @include border-radius(20px);
			// @include border(1px, solid, $blueZoom);
			@include padding(0px,0px,30px,0px);
			@include margin(0px,0px,0px,0px);
			// background:$bgFormTab;
			table{
		
				thead{
					background:$blueZoom;
					width: 90%;
					margin: 0 auto;
					tr{
						width:500px;
						th{
							@include border(0px, solid, transparent);
							@include text-align(center);
							color:$white;
							font-weight:normal;
							vertical-align:middle;
							font-size:16px;
							&:nth-child(5){
								@include text-align(left);
							}
						}
					}
				}
				tbody{
					width:500px;
					max-width: 20px;
		
					tr{
						td{
							.tooltip{
								font-family: 'Tw Cen MT';
								font-size:14px;
								opacity: 1;
								.tooltip-inner {
									color:$textTooltip;
									position: relative;
									background: $white;
									text-align:left;
									@include padding(15px,10px,15px,10px);
									@include border-radius(20px);
									@include border(1px,solid,$borderHoursFunds);
									button{
								    	float:right;
								    	clear: both;
								    	background:$blueZoom;
								    	color:$white;
								    	width:40px;
								    	line-height:16px;
								    	@include padding(2px,5px,2px,5px);
								    	@include border(0px,solid,transparent);
								    	@include border-radius(0px);
								    }
								    p{
								    	font-weight:normal;
								    }
								}
								.tooltip-inner:after, .tooltip-inner:before {
									bottom: 100%;
									left: 50%;
									border: solid transparent;
									content: " ";
									height: 0;
									width: 0;
									position: absolute;
									pointer-events: none;
								}
		
								.tooltip-inner:after {
									border-color: rgba(137, 137, 137, 0);
									border-bottom-color: $white;
									border-width: 15px;
									margin-left: -15px;
								}
								.tooltip-inner:before {
									border-color: rgba(137, 137, 137, 0);
									border-bottom-color: $borderTooltip;
									border-width: 16px;
									margin-left: -16px;
								}
							}
							vertical-align:middle;
							// width:calc(100% / 6);
							@include text-align(center);
							@include border-bottom(1px,solid,$borderTable);
							button.tooltipErrandService{
								background:transparent;
								@include border(1px,solid,transparent);
							}
							button.tooltipDescription{
								background:transparent;
								@include border(1px,solid,transparent);
							}
							&:nth-child(4){
								button.tooltipDescription{
									@include margin(0px,auto,0px,auto);
									@include text-align(center);
									width:80px;
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
								}
							}
							&:nth-child(5){
								@include text-align(left);
							}
							button.btnOrderAgain{
								background:$blueZoom;
								@include border(0px, solid, transparent);
								@include padding(5px,5px,5px,5px);
								@include border-radius(25px);
								@include margin(0px,0px,10px,0px);
								color:$white;
								width:100px;
							}
							button.btnEditOrder{
								background:$white;
								color:$blueZoom;
								@include border(1px, solid, $blueZoom);
								@include padding(2px,5px,2px,5px);
								width:100px;
							}
							.image{
								width:40px;
								height:40px;
								@include border-radius(40px);
								overflow:hidden;
								@include text-align(center);
								@include margin(0px,auto,0px,auto);
								img{
									@include text-align(center);
									@include margin(0px,auto,0px,auto);
								}
							}
						}
					}
				}
			}
			// .table{
			// 	display: flex;
			// 	flex-wrap:wrap;
			// 	justify-content: center;
			// 	.headerTabla{
			// 		background:$blueZoom;
			// 		width: 100%;
			// 		margin: 0 auto;
			// 		display: flex;
			// 		justify-content: center;
			// 		margin: 0;
			// 		ul{
			// 			flex-basis: 70%;
			// 			flex-wrap:wrap;
			// 			display: flex;
			// 			align-items: center;
			// 			list-style-type: none;
			// 			padding: 8px 0;
			// 			margin: 0;
			// 			li{
			// 				flex-basis:calc(100%/3);
			// 				@include border(0px, solid, transparent);
			// 				@include text-align(center);
			// 				color:$white;
			// 				font-weight:normal;
			// 				vertical-align:middle;
			// 				font-size:16px;
			// 				&:nth-child(5){
			// 					@include text-align(left);
			// 				}
			// 			}
			// 		}
			// 	}
			// 	.contTable{
			// 		width: 100%;
			// 		display: flex;
			// 		flex-wrap: wrap;
			// 		justify-content: center;
			// 		align-items: center;
			// 		ul{
			// 			flex-basis: 70%;
			// 			flex-wrap:wrap;
			// 			display: flex;
			// 			align-items: center;
			// 			list-style-type: none;
			// 			padding: 8px;
			// 			margin: 0;
			// 			@include border-bottom(1px,solid,$borderHoursFunds);
			// 			li{
			// 				flex-basis:calc(100%/3);
							
			// 				.tooltip{
			// 					font-family: 'Tw Cen MT';
			// 					font-size:14px;
			// 					opacity: 1;
			// 					.tooltip-inner {
			// 						color:$textTooltip;
			// 						position: relative;
			// 						background: $white;
			// 						text-align:left;
			// 						@include padding(15px,10px,15px,10px);
			// 						@include border-radius(20px);
			// 						button{
			// 					    	float:right;
			// 					    	clear: both;
			// 					    	background:$blueZoom;
			// 					    	color:$white;
			// 					    	width:40px;
			// 					    	line-height:16px;
			// 					    	@include padding(2px,5px,2px,5px);
			// 					    	@include border(0px,solid,transparent);
			// 					    	@include border-radius(0px);
			// 					    }
			// 					    p{
			// 					    	font-weight:normal;
			// 					    }
			// 					}
			// 					.tooltip-inner:after, .tooltip-inner:before {
			// 						bottom: 100%;
			// 						left: 50%;
			// 						border: solid transparent;
			// 						content: " ";
			// 						height: 0;
			// 						width: 0;
			// 						position: absolute;
			// 						pointer-events: none;
			// 					}
		
			// 					.tooltip-inner:after {
			// 						border-color: rgba(137, 137, 137, 0);
			// 						border-bottom-color: $white;
			// 						border-width: 15px;
			// 						margin-left: -15px;
			// 					}
			// 					.tooltip-inner:before {
			// 						border-color: rgba(137, 137, 137, 0);
			// 						border-bottom-color: $borderTooltip;
			// 						border-width: 16px;
			// 						margin-left: -16px;
			// 					}
			// 				}
			// 				vertical-align:middle;
			// 				// width:calc(100% / 6);
			// 				@include text-align(center);
			// 				//@include border-bottom(1px,solid,$borderTable);
			// 				button.tooltipErrandService{
			// 					background:transparent;
			// 					@include border(1px,solid,transparent);
			// 				}
			// 				button.tooltipDescription{
			// 					background:transparent;
			// 					@include border(1px,solid,transparent);
			// 				}
			// 				&:nth-child(4){
			// 					button.tooltipDescription{
			// 						@include margin(0px,auto,0px,auto);
			// 						@include text-align(center);
			// 						width:80px;
			// 						white-space: nowrap;
			// 						overflow: hidden;
			// 						text-overflow: ellipsis;
			// 					}
			// 				}
			// 				&:nth-child(5){
			// 					@include text-align(left);
			// 				}
			// 				button.btnOrderAgain{
			// 					background:$blueZoom;
			// 					@include border(0px, solid, transparent);
			// 					@include padding(5px,5px,5px,5px);
			// 					@include border-radius(25px);
			// 					@include margin(0px,0px,10px,0px);
			// 					color:$white;
			// 					width:100px;
			// 				}
			// 				button.btnEditOrder{
			// 					background:$white;
			// 					color:$blueZoom;
			// 					@include border(1px, solid, $blueZoom);
			// 					@include padding(2px,5px,2px,5px);
			// 					width:100px;
			// 				}
			// 				.image{
			// 					width:40px;
			// 					height:40px;
			// 					@include border-radius(40px);
			// 					overflow:hidden;
			// 					@include text-align(center);
			// 					@include margin(0px,auto,0px,auto);
			// 					img{
			// 						@include text-align(center);
			// 						@include margin(0px,auto,0px,auto);
			// 					}
			// 				}
			// 			}
			// 		}
			// 	}
			// }
		}
	}
	// --------------------------------------------------------
	// -----------------------MY ERRANDS-----------------------
	// --------------------------------------------------------

	// -------------------------------------------------------
	// -----------------------GENERALES-----------------------
	// -------------------------------------------------------
	.no-margin{
		@include margin(0px,0px,0px,0px);
	}
	.no-border-radius{
		@include border-radius(0px);
	}

	.form-control{
		@include box-shadow(0px,0px,0px,0px,50,50,50,0.75);
	}
	.form-control:focus{
		@include border(1px,solid,$grayBorder);
		@include box-shadow(0px,0px,0px,0px,0,0,0,0.75,inset);
		@include box-shadow(0px,0px,0px,0px,255,0,0,0.6);
	}

	.btn:hover,
	.btn:focus,
	.btn:visited,
	.btn:active,
	.btn.active{
		@include box-shadow(0px,0px,0px,0px,0,0,0, .125,inset);
	}

	.dropdown,
	#dropdown1,
	#dropdown2{
		float: left;
	}

	.datetimepicker{
		width: 290px;
		@include padding(10px,10px,10px,10px);
	}

	.open > .dropdown-menu{
		@include border-radius(0px);

	}

	.datetimepicker .table tbody{
		@include border-radius(0px);
		@include border(2px,solid,$graySideBarIzq);
	}


	.datetimepicker .table td,
	.datetimepicker .table td span{
		@include border(1px,solid,$grayBorder);
		@include padding(0px,0px,0px,0px);
		@include border-radius(0px);
		@include margin(0px,0px,0px,0px);
	}
	// -------------------------------------------------------
	// -----------------------GENERALES-----------------------
	// -------------------------------------------------------
}


/* 
.switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 100px;
	height: 30px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #E1B42B;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}
*/